@model V308CMS.Admin.Models.SiteConfigModels
@using V308CMS.Admin.Helpers.Url
@{
    ViewBag.Title = "Sửa cấu hình hệ thống";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.SiteConfigEditUrl()">
            @Html.Partial("_SiteConfigForm",Model)
        </form>        
    </div>

</div>