@{
    ViewBag.Title = "Trang chủ";
    ViewBag.LinkBack = "<li><a href=\"/Admin/Index/\">Trang chủ</a> </li>";
    ViewBag.MenuValue = 0;
    Layout = "~/Views/Admin/Layout.cshtml";
}

<div id="UpdatePanel1">
    <div style="text-align:center;">
        <span id="ContentPlaceMain_lblConnect"></span>
        <img id="ContentPlaceMain_Image1" src="/Content/Admin/Images/logo_365.png"  style="margin: 20px auto;">
        <hr>
    </div>
    <div id="UpdateProgress1" style="display: none;" role="status" aria-hidden="true">
        <div class="area">
        </div>
        <div class="form-loading">
        </div>
    </div>
</div>
