<ul class="nav navbar-nav nav-verticalmenu">

    <li class="">
        <a href="/collections/watch" title="Huge Sale">

            <i class="fa fa-bolt"></i>

            <span class="menu-titlea">Huge Sale</span>
        </a>
    </li>
    <li class=" parent dropdown">
        <a class="dropdown-toggle has-category" data-toggle="dropdown" href="/collections/fashion" title="Fashion" target="_self">
            <span class="menu-icon">
                <i class="fa fa-female"></i>
                <span class="menu-titlea">Fashion</span>
            </span>
        </a>
        <i class="fa fa-angle-right"></i>




        <div class="dropdown-sub dropdown-menu sub-apmegamenu-1" style='width: 640px'>
            <div class="dropdown-menu-inner right_bottom">


                <div class="image ">
                    <img src="//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/vermenuitem_image_1.png?12126481974382985035" class="img-responsive" />
                </div>

                <div class="row">

                    <div class="mega-col col-sm-12 menulink">

                        <div class="row">


                            <div class="col-sm-4">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Women’s Clothes
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Outerwears">Outerwears
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Blazers">Blazers
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Jumpsuits">Jumpsuits
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Jeans">Jeans
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Knitwears">Knitwears
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/jewelry" title="T-Shirts">T-Shirts
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/watch" title="Shorts">Shorts
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Dresess">Dresess
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Men’s Clothes
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Outerwears">Outerwears
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Blazers">Blazers
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Jackets">Jackets
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Jeans">Jeans
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Trousers">Trousers
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="T-Shirts">T-Shirts
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/electronics" title="Polo Shirts">Polo Shirts
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Accessories
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Shoes & Boots">Shoes & Boots
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Bags & Hats">Bags & Hats
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Sunglasess">Sunglasess
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Scarves">Scarves
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="For Hair">For Hair
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Gloves">Gloves
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>




                </div>
            </div>
        </div>
    </li>












    <li class=" parent dropdown">
        <a class="dropdown-toggle has-category" data-toggle="dropdown" href="/collections/watch" title="Watches & Jewelry" target="_self">


            <span class="menu-icon">
                <i class="fa fa-clock-o"></i>
                <span class="menu-titlea">Watches & Jewelry</span>
            </span>


        </a>
        <i class="fa fa-angle-right"></i>

















        <div class="dropdown-sub dropdown-menu sub-apmegamenu-2" style='width: 640px'>
            <div class="dropdown-menu-inner right_bottom">


                <div class="image ">
                    <img src="//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/vermenuitem_image_2.png?12126481974382985035" class="img-responsive" />
                </div>

                <div class="row">

                    <div class="mega-col col-sm-12 menulink">

                        <div class="row">


                            <div class="col-sm-4">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Categories 1
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Earrings & Necklaces">Earrings & Necklaces
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Diamonds">Diamonds
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Gold & Silver">Gold & Silver
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Bracelets & Cufflinks">Bracelets & Cufflinks
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/electronics" title="Gemstones">Gemstones
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Pearls">Pearls
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Categories 2
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Disney Couture">Disney Couture
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Emporio Armani">Emporio Armani
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Daisy London">Daisy London
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Chrysalis">Chrysalis
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Canadian Diamonds">Canadian Diamonds
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Links of London">Links of London
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Categories 3
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Jewellery Box Essentials">Jewellery Box Essentials
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Latest Additions">Latest Additions
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Online Only Jewellery">Online Only Jewellery
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Canadian Diamonds">Canadian Diamonds
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Engravable Jewellery">Engravable Jewellery
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/electronics" title="Wedding">Wedding
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>




                </div>
            </div>
        </div>
    </li>












    <li class=" parent dropdown">
        <a class="dropdown-toggle has-category" data-toggle="dropdown" href="/collections/electronics" title="Electronics" target="_self">


            <span class="menu-icon">
                <i class="fa fa-bolt"></i>
                <span class="menu-titlea">Electronics</span>
            </span>


        </a>
        <i class="fa fa-angle-right"></i>

















        <div class="dropdown-sub dropdown-menu sub-apmegamenu-5" style='width: 640px'>
            <div class="dropdown-menu-inner ">

                <div class="row">

                    <div class="mega-col col-sm-7 menulink">

                        <div class="row">


                            <div class="col-sm-6">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Electronics 1
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Notebook PC">Notebook PC
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="All In One PC">All In One PC
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Ultrabook">Ultrabook
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Hybrid Laptop">Hybrid Laptop
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/electronics" title="Mobile Work Station">Mobile Work Station
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Electronics 2
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/health-beauty" title="Android OS">Android OS
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Windows Phone">Windows Phone
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Apple iOS">Apple iOS
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/electronics" title="Ubuntu OS">Ubuntu OS
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Chrome OS">Chrome OS
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Electronics 3
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Washing Machine">Washing Machine
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Fridge & Fridge Stand">Fridge & Fridge Stand
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Conditioner">Conditioner
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="TV & Audio">TV & Audio
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Accessories">Accessories
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-6">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Electronics 4
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Surveillance">Surveillance
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Security Cameras">Security Cameras
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Smart & Wifi Thermostats">Smart & Wifi Thermostats
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Smart Lighting">Smart Lighting
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Home Automation">Home Automation
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>




                    <div class="mega-col col-sm-5 menuhtml ">



                        <div class="block-html">

                            <div class="widget-inner">

                                <div class="box-image">
                                    <img src="//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/vermenuitem_ihtml_5.jpg?12126481974382985035" alt="" class="img-responsive" />
                                </div>


                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </li>










    <li class="">
        <a href="/collections/electronics" title="Computer">

            <i class="fa fa-desktop"></i>

            <span class="menu-titlea">Computer</span>
        </a>
    </li>











    <li class="">
        <a href="/collections/electronics" title="Smartphone">

            <i class="fa fa-mobile-phone"></i>

            <span class="menu-titlea">Smartphone</span>
        </a>
    </li>













    <li class=" parent dropdown">
        <a class="dropdown-toggle has-category" data-toggle="dropdown" href="/collections/health-beauty" title="Health & Beauty" target="_self">


            <span class="menu-icon">
                <i class="fa fa-heart-o"></i>
                <span class="menu-titlea">Health & Beauty</span>
            </span>


        </a>
        <i class="fa fa-angle-right"></i>

















        <div class="dropdown-sub dropdown-menu sub-apmegamenu-4" style='width: 640px'>
            <div class="dropdown-menu-inner left_top">


                <div class="image ">
                    <img src="//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/vermenuitem_image_4.png?12126481974382985035" alt="" class="img-responsive" />
                </div>

                <div class="row">

                    <div class="mega-col col-sm-12 menulink">

                        <div class="row">


                            <div class="col-sm-4">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Health & Beauty 1
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Makeup">Makeup
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Hair Care">Hair Care
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Skin Care">Skin Care
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Makeup Tools & Cases">Makeup Tools & Cases
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/electronics" title="Bath & Shower">Bath & Shower
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Health & Beauty 2
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Dental Care">Dental Care
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Prescription Eyewear">Prescription Eyewear
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Pain Management">Pain Management
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/jewelry" title="Medical Supplies">Medical Supplies
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Incontinence">Incontinence
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Health & Beauty 3
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Aromatherapy & Massage">Aromatherapy & Massage
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Fitness & Rehab">Fitness & Rehab
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Yoga & Meditation">Yoga & Meditation
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/jewelry" title="Alternative Healing">Alternative Healing
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>




                </div>
            </div>
        </div>
    </li>












    <li class=" parent dropdown">
        <a class="dropdown-toggle has-category" data-toggle="dropdown" href="/collections/furniture" title="Furniture" target="_self">


            <span class="menu-icon">
                <i class="fa fa-first-order"></i>
                <span class="menu-titlea">Furniture</span>
            </span>


        </a>
        <i class="fa fa-angle-right"></i>

















        <div class="dropdown-sub dropdown-menu sub-apmegamenu-3" style='width: 865px'>
            <div class="dropdown-menu-inner ">

                <div class="row">

                    <div class="mega-col col-sm-3 menulink">

                        <div class="row">


                            <div class="col-sm-12">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        All Furniture
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Living Room Furniture">Living Room Furniture
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Bedroom Furniture">Bedroom Furniture
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Mattresses">Mattresses
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Dining & Bar Furniture">Dining & Bar Furniture
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/electronics" title="Patio">Patio
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Outdoor Furniture">Outdoor Furniture
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Home Office Furniture">Home Office Furniture
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Kids' Furniture">Kids' Furniture
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/electronics" title="Bathroom Furniture">Bathroom Furniture
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Featured Sales">Featured Sales
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Promotions">Promotions
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>



                    <div class="mega-col col-sm-9 menuproduct">















                        <div class="mage-menu-product">

                            <div class="menu-title">
                                Special Products
			         
                            </div>

                            <div id="product-menu">
























                                <div class="grid-3  grid-item product-item product-hover product-review" id="product-7824329673">



                                    <div class="product-image ">

                                        <div class="product-label">

                                            <label class="label">Sale</label>


                                        </div>


                                        <a href="/products/clear-view-cover-case-to-galasy" class="grid-image">
                                            <img class="feature-images" src="//cdn.shopify.com/s/files/1/1498/2346/products/4_large.jpg?v=1486347635" alt="Clear View Cover Case to Galasy">

                                            <span class="product-hover" data-idproduct="7824329673">




                                                <img class="img-responsive" alt="Clear View Cover Case to Galasy" src="//cdn.shopify.com/s/files/1/1498/2346/products/13_9c73ecfe-6c00-4308-a9e6-b5ee625e363b_large.jpg?v=1486347635">
                                            </span>


                                        </a>

                                        <div class="quickview-button">
                                            <a href="javascript:void(0)" id="clear-view-cover-case-to-galasy" data-toggle="tooltip" data-placement="top" title="Quick View" class="sca-qv-button btn">Quick View</a>
                                        </div>

                                    </div>
                                    <div class="product-content">
                                        <h3><a class="product-title" href="/products/clear-view-cover-case-to-galasy">Clear View Cover Case to Galasy
                
                                        </a></h3>
                                        <div class="price-box">

                                            <p class="sale">
                                                <span class="special-price"><span class="money">$129.00</span></span>
                                                <span class="old-price"><span class="money">$149.00</span></span>
                                            </p>

                                        </div>

                                        <span class="shopify-product-reviews-badge" data-id="7824329673"></span>

                                        <div class="add-to-link">

                                            <div class="add-to-cart">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-7824329673" enctype="multipart/form-data" style="padding: 0px;">


                                                    <span>
                                                        <input class="btn" type="button" title="Select options" onclick="window.location.href = '/products/clear-view-cover-case-to-galasy'" value="Select options" /></span>


                                                </form>
                                            </div>



                                            <a class="wishlist btn" href="/account/login" data-toggle="tooltip" data-placement="top" title="Add to wishlist"><span><i class="fa fa-heart" aria-hidden="true"></i></span></a>


                                        </div>
                                    </div>

                                </div>






















                                <div class="grid-3  grid-item product-item product-hover product-review" id="product-7824322313">



                                    <div class="product-image ">

                                        <div class="product-label">

                                            <label class="label">Sale</label>


                                        </div>


                                        <a href="/products/contemporary-leopard-mini-dress" class="grid-image">
                                            <img class="feature-images" src="//cdn.shopify.com/s/files/1/1498/2346/products/14_large.jpg?v=1484812672" alt="Contemporary Leopard Mini Dress">

                                            <span class="product-hover" data-idproduct="7824322313">




                                                <img class="img-responsive" alt="Contemporary Leopard Mini Dress" src="//cdn.shopify.com/s/files/1/1498/2346/products/17_41986a1f-0218-4fd1-8f6a-c7919bc99263_large.jpg?v=1484812673">
                                            </span>


                                        </a>

                                        <div class="quickview-button">
                                            <a href="javascript:void(0)" id="contemporary-leopard-mini-dress" data-toggle="tooltip" data-placement="top" title="Quick View" class="sca-qv-button btn">Quick View</a>
                                        </div>

                                    </div>
                                    <div class="product-content">
                                        <h3><a class="product-title" href="/products/contemporary-leopard-mini-dress">Contemporary Leopard Mini Dress
                
                                        </a></h3>
                                        <div class="price-box">

                                            <p class="sale">
                                                <span class="special-price"><span class="money">$45.00</span></span>
                                                <span class="old-price"><span class="money">$50.00</span></span>
                                            </p>

                                        </div>

                                        <span class="shopify-product-reviews-badge" data-id="7824322313"></span>

                                        <div class="add-to-link">

                                            <div class="add-to-cart">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-7824322313" enctype="multipart/form-data" style="padding: 0px;">


                                                    <input type="hidden" name="id" value="29530312713" />
                                                    <span>
                                                        <input class="btn add-to-cart-btn" title="Add to Cart" type="submit" value="Add to Cart" /></span>


                                                </form>
                                            </div>



                                            <a class="wishlist btn" href="/account/login" data-toggle="tooltip" data-placement="top" title="Add to wishlist"><span><i class="fa fa-heart" aria-hidden="true"></i></span></a>


                                        </div>
                                    </div>

                                </div>






















                                <div class="grid-3  grid-item product-item product-hover product-review" id="product-7824271305">



                                    <div class="product-image ">


                                        <a href="/products/floral-satin-souvenir-jacket" class="grid-image">
                                            <img class="feature-images" src="//cdn.shopify.com/s/files/1/1498/2346/products/13_large.jpg?v=1484812916" alt="Floral Satin Souvenir Jacket">

                                            <span class="product-hover" data-idproduct="7824271305">




                                                <img class="img-responsive" alt="Floral Satin Souvenir Jacket" src="//cdn.shopify.com/s/files/1/1498/2346/products/14_55b8f81d-abb2-4c6e-967f-890cf062952d_large.jpg?v=1484812917">
                                            </span>


                                        </a>

                                        <div class="quickview-button">
                                            <a href="javascript:void(0)" id="floral-satin-souvenir-jacket" data-toggle="tooltip" data-placement="top" title="Quick View" class="sca-qv-button btn">Quick View</a>
                                        </div>

                                    </div>
                                    <div class="product-content">
                                        <h3><a class="product-title" href="/products/floral-satin-souvenir-jacket">Floral Satin Souvenir Jacket
                
                                        </a></h3>
                                        <div class="price-box">

                                            <p class="regular-product">

                                                <span><em>from </em><span class="money">$55.00</span></span>
                                            </p>

                                        </div>

                                        <span class="shopify-product-reviews-badge" data-id="7824271305"></span>

                                        <div class="add-to-link">

                                            <div class="add-to-cart">

                                                <form action="/cart/add" method="post" class="variants" id="product-actions-7824271305" enctype="multipart/form-data" style="padding: 0px;">


                                                    <span>
                                                        <input class="btn" type="button" title="Select options" onclick="window.location.href = '/products/floral-satin-souvenir-jacket'" value="Select options" /></span>


                                                </form>
                                            </div>



                                            <a class="wishlist btn" href="/account/login" data-toggle="tooltip" data-placement="top" title="Add to wishlist"><span><i class="fa fa-heart" aria-hidden="true"></i></span></a>


                                        </div>
                                    </div>

                                </div>


                            </div>

                            <script>
                                $(document).ready(function () {
                                    $("#product-menu").owlCarousel({
                                        itemsCustom: [
                                          [360, 1],
                                          [450, 2],
                                          [600, 2],
                                          [700, 2],
                                          [1000, 3],
                                          [1200, 3],
                                          [1400, 3],
                                          [1600, 3]
                                        ],
                                        autoPlay: false,
                                        stopOnHover: false,

                                        lazyLoad: false,
                                        lazyFollow: true,
                                        lazyEffect: "fade",
                                        pagination: false,

                                        // Navigation
                                        navigation: true,
                                        navigationText: ['<i class="arrow_carrot-left"></i>', '<i class="arrow_carrot-right"></i>'],
                                        rewindNav: true,
                                        scrollPerPage: false,

                                    });

                                })

                            </script>
                        </div>
                    </div>


                </div>
            </div>
        </div>
    </li>










    <li class="">
        <a href="/collections/electronics" title="Photography">

            <i class="fa fa-camera-retro"></i>

            <span class="menu-titlea">Photography</span>
        </a>
    </li>











    <li class="parent dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="/collections/watch">
            <span class="menu-icon menu-icon-10">

                <i class="fa fa-headphones"></i>

                <span class="menu-titlea">Accessories</span>
            </span>
        </a>
        <i class="fa fa-angle-right"></i>
        <div class="dropdown-menu level1">
            <div class="dropdown-menu-inner">
                <div class="row">
                    <div class="mega-col col-sm-12">
                        <div class="mega-col-inner">
                            <ul>


                                <li class="">
                                    <a class="" href="/collections/electronics" title="Shoes & Boots">
                                        <span class="">Shoes & Boots</span>
                                    </a>
                                </li>



                                <li class="">
                                    <a class="" href="/collections/fashion" title="Bags & Hats">
                                        <span class="">Bags & Hats</span>
                                    </a>
                                </li>



                                <li class="">
                                    <a class="" href="/collections/furniture" title="Sunglasess">
                                        <span class="">Sunglasess</span>
                                    </a>
                                </li>



                                <li class="">
                                    <a class="" href="/collections/furniture" title="Scarves">
                                        <span class="">Scarves</span>
                                    </a>
                                </li>



                                <li class="">
                                    <a class="" href="/collections/fashion" title="For Hair">
                                        <span class="">For Hair</span>
                                    </a>
                                </li>



                                <li class="">
                                    <a class="" href="/collections/health-beauty" title="Gloves">
                                        <span class="">Gloves</span>
                                    </a>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>



</ul>
