<div class="slides">
    <div class="item">
        <img src="@ViewBag.ThemesPath/images/slide-1.jpg" style="width: 100%;">
        <div class="detail">
            <h4>Đăng ký làm cộng tác viên kinh doanh</h4>
            <p>Bạn đam mê kinh doanh?  Gặp trở ngại về nguồn vốn? Giải pháp dành cho bạn là trở thành cộng tác viên của chúng tôi.</p>
            <button class="btn btn-secondary btn-yellow float-right">Đăng ký</button>
        </div>
    </div>

</div>
