@using V308CMS.Helpers
@model V308CMS.Data.Product
<div class="price-box">

    @if (Model.SaleOff == 0)
    {
        <p class="regular-product">
            <span><span class="money">@Model.ToProductPrice()</span></span>
        </p>
    }
    else
    {
        <p class="sale">
            <span class="special-price"><span class="money">@Model.ToProductPrice()</span></span>
            <span class="old-price"><span class="money">@Model.ToProductSaleOffPrice()</span></span>
        </p>
    }

</div>