<div class="sidebar-block">

    <div class="sidebar-custom sidebar-tag color">

        <div class="title">
            <h3>
                <span>COLOR FILTER
			        
                </span>

            </h3>
        </div>
        <div class="content">
            <ul>

                <li>

                    <input type="checkbox" value="red" />
                    <a href="javascript:void(0)" title="Red">
                        <img src="//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/color-2.png?12126481974382985035" alt="" />
                    </a>
                </li>

                <li>

                    <input type="checkbox" value="white" />
                    <a href="javascript:void(0)" title="White">
                        <img src="//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/color-3.png?12126481974382985035" alt="" />
                    </a>
                </li>

                <li>

                    <input type="checkbox" value="pink" />
                    <a href="javascript:void(0)" title="Pink">
                        <img src="//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/color-4.png?12126481974382985035" alt="" />
                    </a>
                </li>

                <li>

                    <input type="checkbox" value="blue" />
                    <a href="javascript:void(0)" title="Blue">
                        <img src="//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/color-6.png?12126481974382985035" alt="" />
                    </a>
                </li>

                <li>

                    <input type="checkbox" value="gray" />
                    <a href="javascript:void(0)" title="Gray">
                        <img src="//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/color-7.png?12126481974382985035" alt="" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
