<div class="filter-collection-left"><a class="btn">Xem danh mục</a></div>
<div class="collection-view">
    <label>Xem</label>
    <a class="change-view grid active" id="grid" rel="tooltip" title="Xem lưới" onclick="display(\'grid\');"><i class="fa fa-th" aria-hidden="true"></i></a>
    <a class="change-view list" id="list" rel="tooltip" title="Xem danh sách" onclick="display(\'list\');"><i class="fa fa-list-ul" aria-hidden="true"></i></a>
</div>

<div class="browse-tags">
    <label>Sắp xếp theo</label>
    <select class="sort-by">
        <option value="manual">Xem nhiều nhất</option>
        <option value="price-ascending">Giá: thấp đến cao</option>
        <option value="price-descending">Giá: cao đến thấp</option>
        <option value="best-selling">Bán chạy</option>
    </select>
</div>
