<div class="sidebar-custom sidebar-tag size">

    <div class="title">
        <h3>
            <span>SIZE FILTER
			        
            </span>
        </h3>
    </div>
    <div class="content">
        <ul>

            <li>
                <input type="checkbox" value="xs" /><label>
                    XS
                     
                </label>
            </li>

            <li>
                <input type="checkbox" value="m" /><label>
                    M
                     
                </label>
            </li>
           <li>
                <input type="checkbox" value="l" /><label>
                    L
                     
                </label>
            </li>

        </ul>
    </div>
</div>
