@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.ProductStoreModels
@{
    ViewBag.Title = "Cập nhật thông tin Kho hàng";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.ProductStoreEditUrl()">
            @Html.Partial("_StoreForm", Model)
        </form>
    </div>
</div>