<div class="block-bottom-sidebar">
    <img src="//cdn.shopify.com/s/files/1/1498/2346/t/12/assets/block_image_left.jpg?12126481974382985035" alt="" />

    <div class="content-block-left">

        <span>Only BigSale $99.00</span>
        <p>Design 2016</p>

    </div>

</div>
