<ul class="navbar-nav site-nav">

    <li class="menu-dropdown  level-top   active">
        <a class="dropdown-toggle has-category" href="/" title="Home">
            <span class="">Home
          
            </span><i class="fa fa-angle-down"></i>
        </a>
        <i class="fa fa-angle-down"></i>
        <div class="dropdown-sub level1">
            <ul>


                <li class="">
                    <a class="" href="http://bigsale-01.myshopify.com/?preview_theme_id=158713545" title="Home Page 1">
                        <span class="">Home Page 1
                                 
                        </span>
                    </a>
                </li>



                <li class="">
                    <a class="" href="http://bigsale-01.myshopify.com/?preview_theme_id=147445129" title="Home Page 2">
                        <span class="">Home Page 2
                                 
                        </span>
                    </a>
                </li>



                <li class="">
                    <a class="" href="http://bigsale-01.myshopify.com/?preview_theme_id=148512393" title="Home Page 3">
                        <span class="">Home Page 3
                                 
                        </span>
                    </a>
                </li>



                <li class="">
                    <a class="" href="http://bigsale-01.myshopify.com/?preview_theme_id=152685577" title="Home Page 4">
                        <span class="">Home Page 4
                                 
                        </span>
                    </a>
                </li>



                <li class="">
                    <a class="" href="http://bigsale-01.myshopify.com/?preview_theme_id=154377929" title="Home Page 5">
                        <span class="">Home Page 5
                                 
                        </span>
                    </a>
                </li>



                <li class="">
                    <a class="" href="http://bigsale-01.myshopify.com/?preview_theme_id=156176649" title="Home Page 6">
                        <span class="">Home Page 6
                                 
                        </span>
                    </a>
                </li>



                <li class="">
                    <a class="" href="http://bigsale-01.myshopify.com/?preview_theme_id=163926409" title="Home page 7">
                        <span class="">Home page 7
                                 
                        </span>
                    </a>
                </li>


            </ul>
        </div>
    </li>












    <li class="menu-dropdown  mega-menu  level-top full-width ">

        <a class="dropdown-toggle" href="/collections/all" title="On Sale">On Sale
        

        <i class="fa fa-angle-down"></i>






        </a>
        <i class="fa fa-angle-down"></i>













        <div class="dropdown-sub sub-1">
            <div class="dropdown-menu-inner">
                <div class="row">

                    <div class="mega-item col-sm-12 col-md-12">

                        <div class="row">


                            <div class="col-sm-3">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Accessories
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Shoes & Boots">Shoes & Boots
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Bags & Hats">Bags & Hats
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Sunglasess">Sunglasess
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Scarves">Scarves
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="For Hair">For Hair
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Gloves">Gloves
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Categories 1
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Earrings & Necklaces">Earrings & Necklaces
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Diamonds">Diamonds
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Gold & Silver">Gold & Silver
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Bracelets & Cufflinks">Bracelets & Cufflinks
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/electronics" title="Gemstones">Gemstones
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Pearls">Pearls
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Categories 2
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Disney Couture">Disney Couture
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Emporio Armani">Emporio Armani
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Daisy London">Daisy London
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Chrysalis">Chrysalis
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Canadian Diamonds">Canadian Diamonds
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Links of London">Links of London
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-3">
                                <div class="mega-col-inner ">
                                    <div class="menu-title">
                                        Categories 3
                                            
                                    </div>
                                    <div class="widget-inner">
                                        <ul class="nav-links">


                                            <li class=""><a href="/collections/electronics" title="Jewellery Box Essentials">Jewellery Box Essentials
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/fashion" title="Latest Additions">Latest Additions
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Online Only Jewellery">Online Only Jewellery
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/health-beauty" title="Canadian Diamonds">Canadian Diamonds
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/furniture" title="Engravable Jewellery">Engravable Jewellery
                                                                                 
                                            </a></li>

                                            <li class=""><a href="/collections/electronics" title="Wedding">Wedding
                                                                                 
                                            </a></li>


                                        </ul>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>




                </div>
            </div>
        </div>
    </li>










    <li class=" level-top">
        <a class="" href="/blogs/news" title="Latest" target="_self">Latest
        
        </a>
    </li>











    <li class="menu-dropdown  level-top   ">
        <a class="dropdown-toggle has-category" href="/pages/about-us" title="Featured">
            <span class="">Featured
          
            </span><i class="fa fa-angle-down"></i>
        </a>
        <i class="fa fa-angle-down"></i>
        <div class="dropdown-sub level1">
            <ul>


                <li class="">
                    <a class="" href="#" title="Collection Layout">
                        <span class="">Collection Layout
                                 
                        </span>
                    </a>
                </li>



                <li class="parent dropdown-submenu ">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#" title="Product Layout">
                        <span class="">Product Layout
                                
                        </span><i class="fa fa-angle-down"></i>
                    </a>
                    <div class="dropdown-menu level2">
                        <ul>


                            <li class="">
                                <a class="" href="https://bigsale-01.myshopify.com/products/smartphone-6s-32gb-lte?variant=25220547913" title="Product - Left Sidebar">
                                    <span class="">Product - Left Sidebar
                                             
                                    </span>
                                </a>
                            </li>


                        </ul>
                    </div>
                </li>


            </ul>
        </div>
    </li>











    <li class=" level-top">
        <a class="" href="/blogs/news" title="Blog" target="_self">Blog
        
        </a>
    </li>











    <li class="active level-top">
        <a class="" href="/" title="Pages" target="_self">Pages
        
        </a>
    </li>











    <li class=" level-top">
        <a class="" href="/pages/contact" title="Contact" target="_self">Contact
        
        </a>
    </li>



</ul>
