@model List<V308CMS.Data.Models.MenuConfig>
<section id="offcanvas" class="megamenu-canvas">
    <nav class="offcanvas-mainnav">
        <div id="off-canvas-button">
            <span class="off-canvas-nav"><i class="icon_close"></i></span>
        </div>
        <ul class="nav navbar-nav megamenu">

            @if (Model.Any())
            {
                foreach (var menu in Model)
                {
                    var taget = menu.Target ?? "_self";
                    <li>
                        <a href="@menu.Link" title="@menu.Name" target="@taget">
                            <span>@menu.Name</span>
                        </a>
                    </li>
                }
            }
        </ul>
    </nav>
</section>
