@model V308CMS.Data.ProductSlideShow
@if (Model.Images != null && Model.Images.Count() > 0)
{
    Model.Images = Model.Images.Take(3).ToList();
        <div class="regular slider row" style="margin-left:-1rem;">
              @foreach (V308CMS.Data.ProductImage img in Model.Images)
              {
                <div class="col-4" >
                    <img  style="width:70px;" class="img-responsive"  src="@V308CMS.Common.ImageHelper.ToUrl(img.Name,70)" srcbig="@V308CMS.Common.ImageHelper.ToUrl(img.Name,240)"/>
                </div>
              }
        </div>

 <script type="text/javascript">
     $(document).on('ready', function () {
         alert("slide");
      $(".regular").slick({
          infinite: true,
          autoplay: true,
          autoplaySpeed: 2000,
            slidesToShow: 3,
            slidesToScroll: 1
      });
        
      jQuery(".regular img").click(function () {
          jQuery("#product-thumb").attr("src", jQuery(this).attr("srcbig"));
      });
      
      
    });
  </script>
}
