@model string
<a href="@Model" title="Thêm mới">
    <span style="margin-bottom: 2px;" class="btn btn-circle btn-success">
        <i class="fa fa-plus"></i>
    </span>
    <span>
        Thêm mới
    </span>
</a>