<button type="submit" class="btn btn-success" name="SaveList" value="true">Lưu lại và Quay lại Danh sách</button>
<button type="submit" class="btn btn-success" name="Save" value="true">Lưu lại</button>