@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.MenuConfigModels
@{
    ViewBag.Title = "Cập nhật Menu";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.MenuConfigEditUrl()">
            @Html.Partial("_MenuConfigForm", Model)
        </form>
    </div>
</div>