@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.NewsModels
@{
    ViewBag.Title = "Cập nhật tin tức";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.NewsEditUrl()" enctype = "multipart/form-data">
            @Html.Partial("_NewsForm", Model)
        </form>
    </div>
</div>
