@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.ProductManufacturerModels
@{
    ViewBag.Title = "Thêm mới Nhà sản xuất";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.ProductManufacturerCreateUrl()">
            @Html.Partial("_ProductManufacturerForm", Model)
        </form>
    </div>
</div>

