@{
    ViewBag.Title = "C-FOOD";
    Layout = "~/Views/Layout/_LandingMarket.cshtml";
}
@*<link href="https://ban.sendo.vn/Content/design/css/reset.css" rel="stylesheet">
<link href="https://ban.sendo.vn/Content/design/css/popup.css" rel="stylesheet">*@
@*<link href="https://ban.sendo.vn/Content/design/css/landingpage/landing-page.css" rel="stylesheet">*@
@*<link href="https://ban.sendo.vn/Content/design/css/sendoID.css" rel="stylesheet">*@
<link href="/Content/Css/homepage.css" rel="stylesheet">
<style type="text/css">
    td {
        padding-left: 20px;
    }
</style>
<div class="wrap">
    <section class="new-reg reg ctnr">
        <div class="open-shop-form">
            <div class="container homepage" id="container">
                <!--box search-->
                <div class="box-search-shop">
                    <div class="line-top">&nbsp;</div>
                    <div class="cont-box">

                        <!--  <a href="//sendo.vn" title="Sendo.vn" class="logo-box-search"><img src="/Content/images/design/home/logo-sendo.png" alt=""></a>-->
                        <!-- <input id="shopname" name="name" type="text" placeholder="Nhập tên shop của bạn" class="key" />-->
                        <button onclick="javascript:window.location='/open-shop.html';" class="bt-open-shop">Mở shop ngay</button>
                    </div>
                </div>
                <!--steps open shop-->
                <div class="steps-open-shop">
                    <h2 class="ttl-box">Mở Shop trong 4 bước đơn giản</h2>
                    <span class="line">&nbsp;</span>
                    <div class="steps-block">
                        <div class="step step1">
                            <a href="/Home/login">
                                <div class="img-step">&nbsp;</div>
                            </a>
                            <span class="txt-des">Đăng nhập / Đăng ký</span>
                        </div>
                        <div class="step step2">
                            <a href="/Home/login">
                                <div class="img-step">&nbsp;</div>
                            </a>
                            <span class="txt-des">Nhập thông tin</span>
                        </div>
                        <div class="step step3">
                            <a href="/Home/login">
                                <div class="img-step">&nbsp;</div>
                            </a>
                            <span class="txt-des">Kích hoạt shop</span>
                        </div>
                        <div class="step step4">
                            <a href="/Home/login">
                                <div class="img-step">&nbsp;</div>
                            </a>
                            <span class="txt-des">Đăng sản phẩm</span>
                        </div>
                    </div>
                </div>
                <!--steps sale online-->
                <div class="steps-sale-online">
                    <h2 class="txt-des">Các bước bán hàng Online thật dễ dàng</h2>
                    <div class="pointers">
                        <span class="b">&nbsp;</span>
                        <span class="p">&nbsp;</span>
                        <span class="y">&nbsp;</span>
                    </div>
                    <div class="steps-block">
                        <div class="cols">
                            <img src="/Content/Css/images/design/home/open-shop.gif" alt="Mở shop">
                            <span>Mở shop</span>
                        </div>
                        <div class="cols">
                            <img src="/Content/Css/images/design/home/order.gif" alt="Quản lý Sản phẩm
">
                            <span>Quản lý Sản phẩm</span>
                        </div>
                        <div class="cols">
                            <img src="/Content/Css/images/design/home/delivery.gif" alt="Giao hàng  &amp; Nhận tiền
">
                            <span>Giao hàng  &amp; Nhận tiền</span>
                        </div>
                    </div>
                </div>
                <!--buying-->
                <div class="des-buying">
                    <h2 class="txt-des">Giải pháp bán hàng toàn diện</h2>
                    <span class="line">&nbsp;</span>
                    <div class="detail-des-block">
                        <div class="cols lf">
                            <p class="des1">
                                Hoàn toàn chủ động quản lí<br>
                                sản phẩm
                            </p>
                            <p class="des2">
                                Cung cấp dịch vụ vận chuyển &amp;
                    <br>
                                thanh toán từ A-Z
                            </p>
                            <span class="line-ver">&nbsp;</span>
                            <span class="line-hoz">&nbsp;</span>
                        </div>
                        <div class="cols rg">
                            <p class="des3">
                                Bảo vệ hàng hóa &amp; tiền<br>
                                của bạn
                            </p>
                            <p class="des4">
                                Trung tâm Chăm sóc Khách hàng<br>
                                luôn sẵn sàng khi bạn cần
                            </p>
                        </div>
                    </div>
                </div>
                <!--best shop-->
                <div class="best-shop-block">
                    <div class="cont-best-shop">
                        <h1 class="txt-des">Cleanfoodvn.vn quy tụ hàng ngàn Shop kinh doanh thành công</h1>
                        <span class="line">&nbsp;</span>
                       <div class="box-search-shop">
                    <div class="line-top">&nbsp;</div>
                    <div class="cont-box">

                        <!--  <a href="//sendo.vn" title="Sendo.vn" class="logo-box-search"><img src="/Content/images/design/home/logo-sendo.png" alt=""></a>-->
                        <!-- <input id="shopname" name="name" type="text" placeholder="Nhập tên shop của bạn" class="key" />-->
                      <button onclick="javascript:window.location='/open-shop.html';" class="bt-open-shop">Mở shop ngay</button>
                    </div>
                </div>
                    </div>
                </div>
            </div>
            <div class="loader"></div>
            <div id="backgroundPopup"></div>
        </div>
    </section>
</div>
