$green:  	 #1a70da;
$green_act : #1360be;
$yellow: 	 #fdd922 !default;
$yellow_act: 	 #f5b919;
$grey:  	 #f3f3f3;
$grey_act:  	 #e3e7ee;
$grey_text : #a1a1a1;

$blue:  	 #1a70da;
$blue_act:  	 #42609e;

$white:  	 #fff;


$text_color : #000;
$text_blue : #1360be;
$text_red : #ff0000;

$gray-dark:                 #292b2c;
$gray:                      #a0a0a0;
$gray-light:                #636c72;