@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.ProductBrandModels
@{
    ViewBag.Title = "Thêm mới Thương hiệu";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.ProductBrandCreateUrl()" enctype = "multipart/form-data">
            @Html.Partial("_ProductBrandForm", Model)
        </form>
    </div>
</div>