@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}
@section header {
    <title>Giỏ hàng trống - @ViewBag.SiteName</title>
}

<div class="box-detail box-shadow">
    <div class="container">
        <div class="row  p-2 pt-4 pb-4">
            <div class="col-lg-12">
                <div class="empty-cart">
                    <img src="/Content/Images/cart-empty.png" alt="Không có sản phẩm nào trong giỏ hàng của bạn.">
                    <p class="message">Không có sản phẩm nào trong giỏ hàng của bạn.</p>
                    <a href="/" class="btn btn-yellow">Tiếp tục mua sắm</a>
                </div>
            </div>
        </div>
    </div>
</div>
