@model V308CMS.Models.SearchViewModels
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}
@section header {
    <title>Tìm Kiếm - @ViewBag.SiteName</title>
}


     <div class="box-items box-shadow mt-0">
         <div class="container">
             <h4>Tìm Kiếm Sản Phẩm "@Model.Keyword"</h4>
             <div class="row">
                 @foreach (V308CMS.Data.Product prod in Model.ListProduct)
                 {
                     @Html.Action("ProductBlockType1_4", "Block", prod)
                 }
             </div>
         </div>
     </div>
     
 
