<div class="shopify-section index-section hidden-xs" >
    <div id="block-home-icon" style="margin: 0px 0px 0px 0px">
        <div class="container">
            <div class="main">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-3 color-block-icons">
                        <div class=" item-1 block-item">
                            <div class="block-icon" style="background: #f1f1f1; color: #1f1f1f"><i class="fa fa-plane"></i></div>
                            <div class="static-block">
                                <div class="block-title">
                                    <h3><span>Chuyển hàng nhanh</span></h3>
                                </div>
                                <div class="block-content">cho đơn hàng trên 100k</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 color-block-icons">
                        <div class=" item-1 block-item">
                            <div class="block-icon" style="background: #f1f1f1; color: #1f1f1f"><i class="fa fa-refresh"></i></div>
                            <div class="static-block">
                                <div class="block-title">
                                    <h3><span>Đổi trả hàng</span></h3>
                                </div>
                                <div class="block-content">Hoàn tiền trong 7 ngày</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 color-block-icons">
                        <div class=" item-1 block-item">
                            <div class="block-icon" style="background: #f1f1f1; color: #1f1f1f"><i class="fa fa-comments-o"></i></div>
                            <div class="static-block">
                                <div class="block-title">
                                    <h3><span>Hỗ trợ 24/7</span></h3>
                                </div>
                                <div class="block-content">Hệ thống online luôn lắng nghe</div>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-3 color-block-icons">
                        <div class=" item-1 block-item">
                            <div class="block-icon" style="background: #f1f1f1; color: #1f1f1f">
                                <i class="fa fa-hand-o-up"></i>
                            </div>
                            <div class="static-block">
                                <div class="block-title">
                                    <h3><span>Hàng mới</span></h3>
                                </div>
                                <div class="block-content">Hàng về hàng tuần</div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>