@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.EmailConfigModels
@{
    ViewBag.Title = "Sửa cấu hình Email";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.EmailConfigEditUrl()">
            @Html.Partial("_EmailConfigForm", Model)
        </form>       
    </div>

</div>