@using V308CMS.Helpers.Url
<div class="modal-dialog popup-container popup_content" style="width: 550px !important; height: auto;">
    <div class="modal-content">
        <div class="popup-header-read">
            <div class="popup-header-title">Bạn quên mật khẩu?</div>
            <a class="popup-header-close close" data-dismiss="modal" aria-hidden="true">
                <i class="fa fa-times" style="margin-top: -2px;"></i>
            </a>
        </div>
        <div class="modal-body">
            <div class="inner-popup-wrap login" style="margin-bottom: 20px; color: #111; width: 100%;">
                <div class="body">
                    <div class="body-inner" style="text-align: left;">                        
                        <label>Email đăng ký</label>
                        <input class="form-control" id="email" name="email" style="margin-bottom: 5px;" type="text"/>
                        <label>&nbsp;</label>
                        <span id="spanMessage" style="color: red; display: none; margin-bottom: -15px; display: block;"></span>
                        <br />
                        <label>&nbsp;</label>
                        <button id="btnForgetPassword" onclick="forgetPassword()" title="Yêu cầu mật khẩu" style="border: none; font-weight: bold; background: #00aeef; color: #fff; height: 30px;">
                           Yêu cầu mật khẩu
                        </button>
                        <div class="clear"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function forgetPassword() {
            $.post("@Url.AccountForgotPasswordAjaxUrl()", { email: $('#email').val() }, function(response) {          
            if (response.code === 1) {
                $('#btnForgetPassword').attr('disabled', 'disabled');
                $('#spanMessage').css('color', 'green');
                $('#spanMessage').html(response.message);
                $('#spanMessage').show();
            } else {
                $('#spanMessage').css('color', 'red');
                $('#spanMessage').html(response.message);
                $('#spanMessage').show();
            }
           
        });     
    }
</script>