@model V308CMS.Data.NewsPage
@{
    Layout = null;
}

@{
    Layout = null;
}

<div id="sjextraslider_6591927941411360346" class="sj-extraslider slide preset02-1" data-start-jcarousel="1">


    <div class="extraslider-inner">
        <div class="item active ">
          @Html.Raw(@Model.Html)
        </div>
        <!--end item-->
        <!--end item-->
    </div>
    <!--end extraslider-inner -->
    <div class="extraslider-control  button-type2">
        <a class="button-prev" href="javascript:void(0);" data-jslide="prev"></a>
        <ul class="nav-page nav-under">
            <li class="page">
                <a class="button-page" href="javascript:void(0);" data-jslide="0"></a>
            </li>
            <li class="page">
                <a class="button-page sel" href="javascript:void(0);" data-jslide="1"></a>
            </li>
        </ul>
        <a class="button-next" href="javascript:void(0);" data-jslide="next"></a>
    </div>

</div>


