@{
    Layout = null;
}
<div id="position-0" class="span8">
    <!--<div class="yt-position-inner">-->
    <div id="sj_splash_13897621511594962169" class="sj-splash   slide" data-interval="5000" data-pause="hover" style="height:26px;overflow:hidden;">
        <div class="spl-title">
            <span class="spl-title-inner">Tin Nhanh</span>
        </div>
        <div class="spl-items">
            <div class="spl-items-inner">
              @Html.Raw(@Model)
            </div>
        </div>
    </div>
  </div>
