@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Error</title>
    <script type="text/javascript">

        (function ()
        {
            window._fbds = window._fbds || {};
            _fbds.pixelId = 1382278828700674;
            var fbds = document.createElement('script');
            fbds.async = true;
            fbds.src = ('https:' == document.location.protocol ? 'https:' : 'http:') + '//connect.facebook.net/en_US/fbds.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(fbds, s);
        }
         )();
        window._fbq = window._fbq || [];
        window._fbq.push(["track", "PixelInitialzed", {}]);
    </script>
    <noscript>
        <img height="1" width="1" border="0" alt="" style="display: none" src="https://www.facebook.com/tr?id=1382278828700674&amp;ev=NoScript" /></noscript>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
</body>
</html>
