@model  V308CMS.Data.Image
@if (Model != null)
{ 
    <div class="block-bottom-sidebar">
        <img src="@Model.LinkImage" alt="@Model.Name" />

        <div class="content-block-left">

            <span>@Model.Summary</span>
            <p>@Model.Name</p>

        </div>

    </div>

}
