<div class="widget sidebar-links">
    <div class="block-title">
        <span>Categories
            
        </span>
    </div>
    <div class="widget-content">
        <ul>


            <li><a href="/collections/diamonds">Diamonds
                    
          <span>(6)</span></a></li>

            <li><a href="/collections/education">Education
                    
          <span>(5)</span></a></li>

            <li><a href="/collections/electronics">Electronics
                    
          <span>(9)</span></a></li>

            <li><a href="/collections/face-care">Face Care
                    
          <span>(6)</span></a></li>

            <li><a href="/collections/fashion">Fashion
                    
          <span>(6)</span></a></li>

            <li><a href="/collections/furniture">Furniture
                    
          <span>(7)</span></a></li>

            <li><a href="/collections/health-beauty">Health & Beauty
                    
          <span>(7)</span></a></li>

            <li><a href="/collections/high-jewelry">High Jewelry
                    
          <span>(6)</span></a></li>

            <li><a href="/collections/home-family">Home Family
                    
          <span>(6)</span></a></li>

            <li><a href="/collections/frontpage" class="active">Home page
                    
          <span>(33)</span></a></li>

            <li><a href="/collections/hot-deal">Hot Deal
                    
          <span>(7)</span></a></li>

            <li><a href="/collections/jewelry">Jewelry
                    
          <span>(0)</span></a></li>

            <li><a href="/collections/men">Men
                    
          <span>(7)</span></a></li>

            <li><a href="/collections/menu-product">menu product
                    
          <span>(3)</span></a></li>

            <li><a href="/collections/mobile">Mobile
                    
          <span>(6)</span></a></li>

            <li><a href="/collections/perfume">Perfume
                    
          <span>(6)</span></a></li>

            <li><a href="/collections/tv-video">TV & Video
                    
          <span>(6)</span></a></li>

            <li><a href="/collections/watch">Watch
                    
          <span>(6)</span></a></li>

            <li><a href="/collections/women">Women
                    
          <span>(7)</span></a></li>


        </ul>
    </div>
</div>
