<div class="widget widget-recent-articles">
    <div class="widget-title">
        <h3><span>Recent Articles</span></h3>
    </div>
    <div class="widget-content">
        <ul>

            <li class="article">
                <p>
                    <a href="/blogs/news/sustainable-style-just-lovely-handbags">Sustainable style: just lovely handbags
                     
                    </a>
                    <em>September 26, 2016</em>
                </p>
            </li>

            <li class="article">
                <p>
                    <a href="/blogs/news/aenean-egestas-mauris-eget-libero-porta">Aenean egestas mauris eget libero porta
                     
                    </a>
                    <em>September 26, 2016</em>
                </p>
            </li>

            <li class="article">
                <p>
                    <a href="/blogs/news/etiam-porta-quam-dignissim-pretium">Etiam porta quam dignissim pretium
                     
                    </a>
                    <em>September 26, 2016</em>
                </p>
            </li>

            <li class="article">
                <p>
                    <a href="/blogs/news/nunc-commodo-luctus-lacus-eget-semper">Nunc commodo luctus lacus eget semper
                     
                    </a>
                    <em>September 18, 2016</em>
                </p>
            </li>

        </ul>
    </div>
</div>
