@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.RoleModels
@{
    ViewBag.Title = "Sửa thông tin Nhóm quyền";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.RoleEditUrl()">
            @Html.Partial("_RoleForm", Model)
        </form>
    </div>

</div>