@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
}
<div class="error404-banner">
    <div class="error404-banner-top"></div>
    <div class="error404-banner-bottom"></div>
    <div class="error404-banner-content">
        <div class="error404-banner-content-item error404-tiki">
            <img src="https://vcdn.tikicdn.com/assets/img/404/super.png" alt="Super Tiki" class="img-responsive">
        </div>
        <div class="error404-banner-content-item error404-img">
            <img src="https://vcdn.tikicdn.com/assets/img/404/404.png" alt="Super Tiki" class="img-responsive">
        </div>
        <div class="error404-banner-content-item error404-said">
            <h1>Xin lỗi, trang bạn đang tìm kiếm <br class="hidden-xs">không tồn tại!</h1>
        </div>
    </div>
</div>

<div class="error404-category">
    <h5 class="error404-category-title">Bạn có thể thử những liên kết sau</h5>
    <div class="error404-category-list">
        <div class="error404-category-item">
            <a href="https://tiki.vn/sach-truyen-tieng-viet">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-book"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Sách
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/lam-dep-suc-khoe">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-beautiful"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Làm đẹp - Sức khỏe
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/thoi-trang">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-fashion"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Thời trang
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/nha-cua-doi-song">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-house"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Nhà cửa đời sống
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/dien-gia-dung">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-electric"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Điện gia dụng
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/thiet-bi-kts-phu-kien-so">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-accessories"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Phụ kiện - Thiết bị số
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/may-anh">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-camera"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Máy ảnh - Máy quay phim
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/dien-thoai-may-tinh-bang">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-mobile"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Điện thoại - Tablet - Laptop
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/tivi-thiet-bi-nghe-nhin">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-tivi"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Tivi
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/do-choi-qua-tang">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-toy"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Đồ chơi
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/me-va-be">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-baby"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Mẹ &amp; Bé
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/thiet-bi-van-phong-pham">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-stationary"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Văn phòng phẩm
                </h5>
            </a>
        </div>
        <div class="error404-category-item">
            <a href="https://tiki.vn/the-thao">
                <div class="error404-category-item-icon">
                    <i class="tiki-icons tiki-icons-sport"></i>
                </div>
                <h5 class="error404-category-item-name">
                    Thể thao - Dã ngoại
                </h5>
            </a>
        </div>
    </div>
</div>
<div class="error404-nav">
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-md-5 text-right-sm">
                <a href="http://tiki.vn" class="btn btn-default error404-nav-item left">
                    <i class="fa fa-angle-left"></i> Quay lại trang trước
                </a>
            </div>
            <div class="col-sm-4 col-md-2 error404-nav-center-col">
                <a href="http://tiki.vn" class="btn btn-default error404-nav-item">
                    Tiếp tục mua hàng
                </a>
            </div>
            <div class="col-sm-4 col-md-5 text-left-sm">
                <a href="https://tiki.vn/customer/account/" class="btn btn-default error404-nav-item right">
                    Xem thông tin tài khoản <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>