@using StackExchange.Profiling
@using V308CMS.Data
@model List<ProductType>
@{
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";
    var profiler = MiniProfiler.Current;
}
@section BodyId{@Html.Raw("bigsale-01")}
@section BodyClass{@Html.Raw("template-index")}
@section header {
    <title>@ViewBag.SiteName</title>
}
<div class="shopify-section index-section index-section--flush">
    <div class="container-block m-0" data-section-id="1475814045391" data-section-type="slideshow-section" style="background-color: #daedfc">
        <div class="container">
            <div class="row">
                <div class="col-md-9 col-sm-12 col-xs-12 col-md-offset-3 banner-slide">
                    @{ Html.RenderAction("LoadHomeSliderAsync", "Async");}
                </div>
            </div>
        </div>
    </div>

    <script>
        jQuery(document).ready(function() {
            jQuery('.tp-caption').hide();
            jQuery(window).load(function() {
                setTimeout(function() { jQuery('.tp-caption').show(); }, 1000);
            });
        });
    </script>
</div>
@{ Html.RenderAction("LoadBannerHomeTopAsync", "Async");}
@{ Html.RenderAction("ProductHot", "MyShopify");}

@using (profiler.Step("Load ProductTypeList"))
{
   
    if (Model != null && Model.Any())
    {
        foreach (var category in Model)
        {
            Html.RenderAction("LoadBoxItemAsync", "Async", new {category});
        }
    }
}
@{Html.RenderAction("LoadListVideoHomeAsync", "Async");}
@{Html.RenderAction("HomeFooter", "MyShopify");}
<script>
    jQuery('.item-poduct').addClass('product-loading');
    jQuery(window).load(function () {
        jQuery('.item-poduct').removeClass('product-loading');
    });
    jQuery('.main-content').removeClass('container');
</script>
