@using V308CMS.Common
@model List<V308CMS.Data.Models.Video>
@{  
    Layout = "~/Views/themes/" + ViewBag.domain + "/Layout/Layout.cshtml";

}

@section header {
    <title>Video</title>
    <meta name="twitter:title" content="Mpstart,video">
    <meta name="twitter:description" content="Video, thương mại điện tử, điện thoại">
}
@section Breadcrumb{
    <div class="clearfix breadcrumb-wrap">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb">
                    <h2></h2>
                    <a href="/" title="Back to the frontpage">Trang chủ</a>
                    <span class="icon"><i class="fa fa-circle"></i></span>
                    <strong>
                        Video
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>
}
<div class="row">
    <div class="col-md-12 col-main">
        <div class="content-blog">                
            @if (Model.IsHasData()){
                <ul class="row">
                    @foreach (var video in Model)
                    {
                        <li class="col-xs-4">
                            
                            <div class="item">
                                <div class="blog-item">
                                    <div class="content-blog">
                                        <a class="image video" href="@url.videoURL(video.Title, video.Id)">
                                            <img src="https://i.ytimg.com/vi/@video.Code/maxresdefault.jpg" alt="@video.Title">
                                            <span class="mask-play"><i class="fa fa-play"></i></span>
                                        </a>
                                        <div class="blog-meta">
                                            <h6 class="p10">@url.VideoAnchor(video.Title, video.Id)</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>

                    }
                </ul>
            }

        </div>
    </div>
</div>
