@{
    ViewBag.Title = "Tài khoản quản trị";
    ViewBag.LinkBack = "<li><a href=\"/Admin/AdminAccount/\">Tài khoản quản trị</a> </li>";
    ViewBag.MenuValue = 6;
    Layout = "~/Views/Admin/Layout.cshtml";
}
<div>
    <div>
        <h3>Thêm Tài khoản quản trị mới</h3>
        <hr />
        <form id="frMainv308">
            <div style="width: 100%;">
                <div id="v308inputContent" class="RadGrid RadGrid_MetroTouch table table-striped table-bordered table-hover dataTable" tabindex="0">
                    <table>
                        <tr>
                            <td>FullName</td>
                            <td>
                                <input type="text" id="pTitleId" name="pTitle" /></td>
                        </tr>
                        <tr>
                            <td>Phân quyền</td>
                            <td>
                                <select name="pGroup" id="pGroupId">
                                    <option value="0">Chọn Quyền cho tài khoản</option>
                                    <option value="1">Administrator</option>
                                    <option value="2">Member</option>
                                    <option value="3">Guest</option>
                                </select></td>
                        </tr>
                        <tr>
                            <td>Trang truy cập</td>
                            <td>
                                <table>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="psanpham" /><span class="mspancheckbox">Sản phẩm</span></td>
                                        <td>
                                            <input type="checkbox" id="ptintuc" /><span class="mspancheckbox">Tin tức</span></td>
                                        <td>
                                            <input type="checkbox" id="pkhachhang" /><span class="mspancheckbox">Khách hàng</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="phinhanh" /><span class="mspancheckbox">Hình ảnh</span></td>
                                        <td>
                                            <input type="checkbox" id="pupload" /><span class="mspancheckbox">File upload</span></td>
                                        <td>
                                            <input type="checkbox" id="ptaikhoan" /><span class="mspancheckbox">Tài khoản</span></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="phethong" /><span class="mspancheckbox">Hệ thống</span></td>
                                        <td>
                                            <input type="checkbox" id="pthungrac" /><span class="mspancheckbox">Thùng rác</span></td>
                                        <td></td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td>Tài khoản</td>
                            <td>
                                <input type="text" id="pAccountId" name="pAccount" />
                            </td>
                        </tr>
                        <tr>
                            <td>Mật khẩu</td>
                            <td>
                                <input type="text" id="pPassword1Id" name="pPassword1" value="0" /></td>
                        </tr>
                        <tr>
                            <td>Gõ lại Mật khẩu</td>
                            <td>
                                <input type="text" id="pPassword2Id" name="pPassword2" value="0" /></td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                <input type="text" id="pEmailId" name="pEmail" value="0" /></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <a class="mbutton" href="javascript:Admin_AdminAccount_ThucHienLuuMoi();">Lưu mới</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </form>
        <hr />
    </div>
</div>
