@model V308CMS.Data.FilePage
@{
    ViewBag.Title = "Thêm File Mới";
    ViewBag.LinkBack = "<li><a href=\"/Admin/File/\">Thêm File Mới</a> </li>";
    ViewBag.MenuValue = 5;
    Layout = "~/Views/Admin/Layout.cshtml";
}
@section Header {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#btnSelectImg").click(function () {
                var finder = new CKFinder();
                finder.selectActionFunction = function (fileUrl) {
                    $('#ImageUrl').val(fileUrl);
                };
                finder.popup();
            });
        });

        function SetFileField(fileUrl) {
            $('#ImageUrl').val(fileUrl);
        }

    </script>
}
<div>
    <div>
        <h3>Thêm File mới</h3>
        <hr />
        <div style="width: 100%;">
            <div id="v308inputContent" class="RadGrid RadGrid_MetroTouch table table-striped table-bordered table-hover dataTable" tabindex="0">
                <table>
                    <tr>
                        <td>Tên</td>
                        <td>
                            <input type="text" id="pTitleId" name="pTitle" /></td>
                    </tr>
                    <tr>
                        <td>Nhóm File</td>
                        <td>@Html.Raw(@Model.HtmlNhom)</td>
                    </tr>
                     <tr>
                        <td>Mô Tả</td>
                        <td>
                            <textarea cols="80" id="pSummaryId"  name="pSummary" rows="6"></textarea></td>
                    </tr>
                      <tr>
                        <td>Giá trị</td>
                        <td>
                           <input type="text" id="pValueId"  name="pValue" value="0"  /></td>
                    </tr>
                    <tr>
                        <td>Link</td>
                        <td>
                            <input type="text" id="pLinkId"  name="pLink"/></td>
                    </tr>
                    <tr>
                        <td>File</td>
                        <td>
                             <div id="anhdaidien"></div>
                            <input id="ImageUrl"  type="text" name="pImage" /><a id="btnSelectImg" class="mbutton" href="javascript:void(0);">Chọn File</a></td>
                    </tr>
                       <tr>
                        <td>Kích Hoạt</td>
                        <td>
                            <input type="checkbox" id="pActiveId" class="chk"  name="pActive" style="width: 40px !important;" /></td>
                    </tr>
                    <tr>
                        <td></td>
                        <td>
                         <a  class="mbutton" href="javascript:Admin_File_ThucHienLuuMoi();">Lưu mới</a></td>
                    </tr>
                </table>
            </div>
        </div>
        <hr />
    </div>
</div>
