@model V308CMS.Data.SupportPage
@{
    ViewBag.Title = "Loại Hỗ trợ";
    ViewBag.LinkBack = "<li><a href=\"/Admin/HoTroLoaiHoTro/\">Loại Hỗ Trợ</a> </li>";
    ViewBag.MenuValue = 7;
    Layout = "~/Views/Admin/Layout.cshtml";
}
<div>
    <div>
        <div id="close" class="mheader">
            <a href="/Admin/HoTroLoaiHoTroThemMoi/">
             <img src="/Content/Admin/Images/them-moi.png" />
            </a>
        </div>
        <hr />
        <div style="width: 100%;">
            <div class="RadGrid RadGrid_MetroTouch table table-striped table-bordered table-hover dataTable" tabindex="0">
               @Html.Raw(@Model.Html)
            </div>
        </div>
        <div class="wpmn_page_navi"><a href="/Admin/HoTroLoaiHoTro?pPage=@Model.BackPage">Back</a><span class="current">@Model.Page</span><a href="/Admin/HoTroLoaiHoTro?pPage=@Model.NextPage">Next</a></div>
        <hr />
    </div>
    <div style="display: none;" role="status" aria-hidden="true">
        <div class="area"></div>
        <div class="form-loading"></div>
    </div>
</div>
