@using V308CMS.Data
@using V308CMS.Admin.Helpers.Url
@using V308CMS.Admin.Helpers.UI
@using V308CMS.Common
@model List<V308CMS.Data.AffiliateLink>
@{
    ViewBag.Title = "Thống kê Links đã tạo";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}

@if (Model.Any())
{
    <div class="panel panel-default">
        <div class="panel-body">
          
            <table class="table table-striped table-bordered table-hover" id="dataTables-example">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Thời gian</th>
                    <th>Link</th>
                    <th>Click</th>
                </tr>
                </thead>
                <tbody>
                @for (int i = 0; i < Model.Count; i++)
                {
                    var link = Model[i];
                    <tr>
                        <td class="text-center">
                            @(i + 1)
                        </td>

                        <td>@String.Format("{0:d}", link.created)</td>
                        <td><small class="form-text text-muted">@StringClearFormat.LTrim(link.url, 50)</small></td>
                        <td class="text-center">@link.click</td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
     </div>
}
<script type="text/javascript">
    $(document).ready(function () {
        $('#dataTables-example').DataTable({
            responsive: true
        });
    });
</script>
