#Nav{
    width:100%;
    height: 47px;
    clear: both;
    float: none;
    margin-top: 70px;
    border-bottom: 3px solid #009e0a;
    background: #badbc0;
    line-height: 47px;
}
#Nav .box{
    border-bottom:3px solid #009e0a ; 
}

#Nav .ul2 {
     display: none; 
    background: #badbc0;
    z-index: 2000;
    width: inherit;
    float: right;
    position: absolute;
  right: -203px;
    top: 0;
    border: 1px solid #009e0a;
    width: 200px;
}

#Nav .ul1 {
    display: none;
    position: absolute;
    background: #badbc0;
    z-index: 2000;
    width: inherit;
    min-width: 200px;
    border:1px solid #009e0a;
}
#Nav ul li li{
    float:none;
    border-bottom:solid 1px #41d04a;
}#Nav ul li li a {
    height: 35px;
    line-height: 35px;
}

#Nav ul li li:last-child {
    border:none;
}
#Nav .ul0 > li,#Nav .ul1 > li{
    position:relative;
}
#Nav .ul0 > li:hover .ul1{
     display:block; 
}
#Nav .ul1 > li:hover .ul2{
    display:block;
}
#Nav ul{
width: 1080px;

display: block;

margin: auto;
}#Nav li{

float: left;
}#Nav a{

display: block;

height: 47px;

line-height: 47px;

padding: 0 16px;
}

 .fx-top{
     padding-top:0 !important;
 }
/*. {
    bg_nag.png
}*/
#BlockSearch {
    width: 467px;
    background: #FFF;
    height: 39px;
    margin-top: 20px;
    border-radius: 1px;
    box-shadow: 1px 1px 1px #fff;
}header > .wrap {
    height: 70px;
}header {
    background: url(/Content/images/bg_nag.png) center center;
    height: 70px;
}.small-page .cbo-srch, .small-page .cbo-srch .frm-srch {
    width: 350px;
    background: inherit;
    float: left;
    height: 38px;
    padding-right: 0;
    margin-top: 1px;
}.cbo-mk {
    margin-left: 0;
    width: 117px;
    height: 40px;
    position: relative;
    float: left;
}.small-page .cbo-srch .frm-srch {
    width: 340px;
    background: inherit;
    margin: 0;
}.cbo-srch .frm-srch .ip-srch {
    width: 280px;
    height: 40px;
    float: left;
    font-size: 14px;
    margin-left: 10px;
    color: #666;
    border: 0;
}
 .cbo-mk .cbo-mk-head {
    width: 140px;
    height: 40px;
    cursor: pointer;
    color: #FFF;
    position: relative;
    z-index: 10;
}.cbo-mk .cbo-mk-head .mk-nm {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    font-size: 15px;
    font-family: tahoma;
    padding-top: 12px;
    padding-left: 10px;
    text-align: right;
    margin-right: 40px;
    line-height: 16px;
    height: 29px;
    overflow: hidden;
    color: #333;
    font-weight: normal;
}.cbo-mk .cbo-mk-head .mk-ico {
    font-size: 13px;
    position: absolute;
    right: 5px;
    top: 0;
    height: 40px;
    width: 29px;
    line-height: 60px;
    text-align: center;
    background: url("/content/images/arrows.png") 1px 7px no-repeat;
    font-size: 0px;
}.cbo-srch .frm-srch .smt-srch {
    -webkit-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
    color: #00a651;
    width: 40px;
    height: 40px;
    float: right;
    font-size: 20px;
    border: 0;
    background: #FFF;
    line-height: 0;
    padding-top: 4px;
}.cbo-logo a, .cbo-logo img {
    max-width: 107px;
    max-height: 60px;
    display: block;
    margin-top: 1px;
    float: left;
}
 .cbo-logo .sl-lc {
    width: 77px;
    height: 20px;
    position: absolute;
    top: 28px;
    right: 0;
    float: left;
}.ico-map-marker {
    margin-right: 5px;
    text-shadow: 2px 2px 0 rgba(0,0,0,.2);
    background: url(/Content/images/location.png);
    width: 18px;
    height: 26px;
    display: block;
    background-size: 18px 26px;
    float: left;
    font-size: 26px;
}.cbo-logo .sl-lc .sl-lc-head {
    font-size: 13px;
    line-height: 29px;
    margin-right: 0;
    float: left;
    color: #fff;
    padding: 0 5px;
    margin-right: -5px;
    position: relative;
    z-index: 10;
    cursor: pointer;
    font-family: Roboto-Regular;
}
 .cbo-logo:after{
     background:none;
 }.cbo-logo { 
    width: 192px;
    position: relative;
}.cbo-shp .cbo-shp-head .cbo-shp-ico {
    background: url(/content/images/shopcart.png);
    font-size: 0;
    background-size: 35px 30px;
    border: none;
    width: 40px;
    margin-right: 0;
}

 .cbo-usr-ifo:after,.cbo-usr-ifo:before{
     background:none;
 }.cbo-usr-ifo {
    z-index: 10;
    margin-top: 5px;
}.cbo-shp {
    margin-top: 5px;
}.cbo-sld-mn .cbo-bnr {
    width: 510px;
    height: 310px;
    overflow: hidden;
    float: left;
    clear: both;
    margin-left: 210px;
}.cbo-srch .frm-srch .smt-srch {
    background: url(/content/images/searchicon.png) no-repeat;
    font-size: 0;
    width: 36px;
}.cbo-usr-ifo .usr-ifo-head .usr-ifo-ico {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    width: 40px;
    height: 40px;
    border: 1px solid #fefefe;
    text-align: center;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    left: 10px;
    top: 15px;
    font-size: 0;
    border: none;
    background: url(/content/images/user.png);
    border-radius: 0;
}
 .cbo-usr-ifo .usr-ifo-head .usr-ifo-sub {
    font-size: 12px;
    line-height: 12px;
    font-family: Roboto-Light;
    text-align: left;
    margin-left: 56px;
}.cbo-usr-ifo .usr-ifo-head .usr-ifo-ttl {
    font-size: 14px;
    line-height: 14px;
    font-family: Roboto-Medium;
    padding-top: 16px;
    text-align: left;
    margin-left: 56px;
    height: 19px;
    width: 115px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}.cbo-usr-ifo {
    margin-left: 20px;
    width: 179px;
    height: 60px;
    margin-right: 3px;
    position: relative;
    cursor: pointer;
}.cbo-srch .frm-srch:hover .smt-srch {
    background: url(/content/images/searchicon.png) no-repeat;
}
 .cbo-mk .pnl-mk{
     top:70px !important;
 }