<div id="shopify-section-1475849151165" class="shopify-section index-section">
    <div class="block-top" style="margin: 30px 0px 0px 0px">
        <div class="container">
            <div class="widget-block">
                <div class="row">
                    <div id="carousel-top">
                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="item-1">
                                <div class="static-collection ">

                                    <div class="images">
                                        <a href="#">
                                            <img src="/Content/Images/Upload/adv/block_slide1_2048x.jpg" alt="" />

                                        </a>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">HP SPECTRE</h3>
                                        <div class="content-slider">From $1.390</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="item-2">
                                <div class="static-collection ">
                                    <div class="images">
                                        <a href="#"><img src="/Content/Images/Upload/adv/block_slide2_2048x.jpg" alt="" /></a>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">10” Full HD</h3>
                                        <div class="content-slider"> Galaxy Tab A 10</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                            <div class="item-3">
                                <div class="static-collection ">
                                    <div class="images">
                                        <a href="#"> <img src="/Content/Images/Upload/adv/block_slide3_2048x.jpg" alt="" /></a>
                                    </div>
                                    <div class="block-content">
                                        <h3 class="block-title">Sale Off 40%</h3>
                                        <div class="content-slider"> Galaxy Tab A 10</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
