@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.BannerModels
@{
    ViewBag.Title = "Thêm mới Banner";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.BannerCreateUrl()" enctype="multipart/form-data">
            @Html.Partial("_BannerForm", Model)
        </form>
    </div>
</div>