@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <title>Kênh mua sắm sản phẩm tiêu dùng hằng ngày đầu tiên tại Việt Nam</title>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Language" content="">
    <meta property="og:title" content="Siêu thị thực phẩm Online - giúp bạn đi chợ - ship và sơ chế theo yêu cầu">
    <meta content="all" name="robots">
    <meta name="robots" content="noindex">
    <meta name="googlebot" content="noindex">
    <meta name="revisit-after" content="1 days">
    <meta name="pagerank™" content="10">
    <meta name="serps" content="1, 2, 3, 10, 11, 12, 13, ATF">
    <meta name="author" content="disieuthi">
    <meta content="4038" name="template">
    <link href="//img.disieuthi.vn/3b4f1992516090ea88d01111a6e9d887.css?v=0.0.4" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=480px, maximum-scale=1.0, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="apple-touch-icon" sizes="57x57" href="/Content/Images/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/Content/Images/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/Content/Images/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/Content/Images/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/Content/Images/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/Content/Images/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/Content/Images/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/Content/Images/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/Content/Images/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/Content/Images/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/Content/Images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/Content/Images/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/Content/Images/favicon-16x16.png">
    <link rel="stylesheet" href="//img.disieuthi.vn/styles/mobile/4038/css/jquery.datetimepicker.css">
    <link rel="stylesheet" href="//img.disieuthi.vn/styles/mobile/4038/css/main.css">
    <link rel="stylesheet" href="//img.disieuthi.vn/styles/mobile/4038/css/cusinput.css">
    <link rel="stylesheet" href="//img.disieuthi.vn/styles/mobile/4038/css/newcus.css">
    <link rel="stylesheet" href="//img.disieuthi.vn/styles/mobile/4038/css/font-awesome/font-awesome.min.css">
    <link rel="stylesheet" href="//img.disieuthi.vn/styles/mobile/4038/css/jquery.mCustomScrollbar.min.css">
    <link rel="stylesheet" href="//img.disieuthi.vn/styles/mobile/4038/css/home.css">
    <link rel="stylesheet" href="//img.disieuthi.vn/styles/mobile/4038/css/select2.min.css">
    <meta property="og:site_name" content="iêu thị thực phẩm Online - giúp bạn đi chợ - ship và sơ chế theo yêu cầu">
    <meta property="og:title" content="iêu thị thực phẩm Online - giúp bạn đi chợ - ship và sơ chế theo yêu cầu">
    <meta name="keywords" content="đi siêu thị, đi chợ thuê, kênh mua sắm hằng tiêu dùng, thực phẩm tươi, đồ gia vị, đồ khô, đồ hộp, bơ sữa, trứng đường, thực phẩm đông lạnh, bánh kẹo, thức ăn làm sẵn, đồ uống, đồ dùng gia đình, hóa mỹ phẩm.">
    <meta name="description" content="iêu thị thực phẩm Online - giúp bạn đi chợ - ship và sơ chế theo yêu cầu. Nơi hội tụ các nhà cung cấp uy tín. Sản phẩm phong phú, chất lượng tốt, niêm yết đúng giá, giao hàng tận nhà.">
</head>
<body>
    <header class="container">
        <div class="left-container">
            <i class="fa fa-align-left js-toggle-menu" id="menupanel"></i>
            <a class="head-title-img js-view-vendors pointer">
                <img src="/Content/Images/logo.png">
            </a><span class="fa fa-map-marker"></span><span class="head-sub">Hà Nội</span>
        </div>
        <div class="right-container">
            <i class="fa fa-search" id="js-btn-search-global"></i><i class="fa fa-shopping-cart js-toggle-cart"><span class="js-notify-cart count-product">(0)</span>        </i>
        </div>
        <div class="cart-notify-mobile">
            <div class="container-cart">
                <div class="main">
                    <div class="bg"></div>
                    <span class="text">Đặt hàng ngay</span>
                </div>
                <i class="fa fa-caret-up"></i><i class="fa fa-shopping-cart"></i>
            </div>
        </div>
    </header>
    <section id="global-search" class="container">
        <div class="m-search-page-header">
            <div class="group-search">
                <form id="js-frm-search-global" class="" name="frm-srch" action="/search/">
                    <i id="js-btn-search-gb" class="fa fa-search"></i>
                    <input id="id-search" type="hidden" name="vendor" value="">
                    <input class="js-input-search" type="text" autocomplete="off" value="" placeholder="Nhập từ khóa" name="q">
                    <i id="js-btn-del-gb" class="fa fa-times"></i>
                    <div class="clear"></div>
                </form>
            </div>
            <span id="js-btn-cancel-search-gb" class="cancel-button">hủy</span>
        </div>
        <div class="m-search-page-body"></div>
    </section>
    <section class="menu-category-product js-menu-panel" id="mkpanel-id">
        @Html.Action("MobileMenu", "Widget")
    </section>
    <div class="dr-shopping-cart-page">
        <div class="menu-overlay js-toggle-cart"></div>
        <div class="shopping-cart-page-header">
            <i class="fa fa-angle-left js-toggle-cart"></i>
            <label for="">Giỏ hàng</label>
            <span class="product-count js-notify-cart">(0)</span>
        </div>
        <div class="shopping-cart-page-body is-mn">
            <div class="empty-content">Vui lòng cho sản phẩm vào giỏ hàng        </div>
        </div>
        <div class="shopping-cart-page-footer">
            <div class="total-pay">
                <label>Tổng thanh toán</label>
                <span class="m-symbol-money m-red-txt">đ</span>            <span id="div_gio_hang_tong_tien" class="is-total-money-pop m-red-txt">0</span>
            </div>
            <div class="order">
                <div class="shopping-cart-button cart-saving-button">lưu giỏ</div>
                <div class="shopping-cart-button order-button js-purchase">đặt hàng</div>
            </div>
        </div>
    </div>
    @RenderBody()
    <style type="text/css">
        #js-support-backup {
            cursor: pointer;
        }
    </style>
    <footer class="container"><a href="/" class="active"><span class="image-menu-item" style="background: transparent url('//img.disieuthi.vn/styles/mobile/4038/image/bottom-menu-group.png') no-repeat 0px 2px"></span><span class="text-menu-item">cleanfoodvn.vn</span>    </a><a href="javascript:void(0)" class=""><span class="image-menu-item" style="background: transparent url('//img.disieuthi.vn/styles/mobile/4038/image/bottom-menu-group.png') no-repeat -35px -28px"></span><span class="text-menu-item">cộng đồng</span>    </a><a href="javascript:void(Tawk_API.toggle())" class="js-support" id="js-support-backup"><span class="image-menu-item" style="background: transparent url('//img.disieuthi.vn/styles/mobile/4038/image/bottom-menu-group.png') no-repeat -70px -28px"></span><span class="text-menu-item">hỗ trợ</span>    </a><a href="javascript:void(0)" class=""><span class="image-menu-item" style="background: transparent url('//img.disieuthi.vn/styles/mobile/4038/image/bottom-menu-group.png') no-repeat -100px -28px"></span><span class="text-menu-item">khác</span>    </a></footer>
    <script src="//img.disieuthi.vn/styles/mobile/4038/js/jquery-1.12.0.min.js"></script>
    <script src="//img.disieuthi.vn/styles/mobile/4038/js/jquery.iosslider.min.js"></script>
    <script src="//img.disieuthi.vn/styles/mobile/4038/js/jquery.datetimepicker.js"></script>
    <script src="//img.disieuthi.vn/styles/mobile/4038/js/tools.js"></script>
    <script src="/Content/Mobile/Scripts/main.js"></script>
    <script src="//img.disieuthi.vn/styles/mobile/4038/js/select2.min.js"></script>
    <script src="//img.disieuthi.vn/styles/mobile/4038/js/jquery.zaccordion.min.js"></script>
    <script src="//img.disieuthi.vn/styles/mobile/4038/js/jquery.mCustomScrollbar.js"></script>
    <script src="//img.disieuthi.vn/styles/mobile/4038/js/jquery.lazyload.min.js"></script>
    <script src="//img.disieuthi.vn/styles/mobile/4038/js/home.js"></script>
</body>
</html>
