@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head id="Head1">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Kênh tin tức giải trí - Xã hội - Kenh14.vn</title>
    <meta id="pageMetaDesc" name="description" content="Trang tin tức giải trí - xã hội Việt Nam - Quốc Tế. Đưa tin nhanh nhất : thời trang, video ngôi sao, phim ảnh, tình yêu, học đường, các chuyển động xã hội.">
    <meta id="pageMetaNewsKeyword" name="news_keywords" content="teen viet nam, giới trẻ, xu hướng, âm nhạc, xem phim, đời sống, hàng hiệu, chuyện lạ, thời trang trẻ, mới lớn, đang yêu, sành điệu, chuyện cười, khéo tay, các sao">
    <meta http-equiv="content-language" content="vi">
    <meta name="google-site-verification" content="XgyQeQB03FjD7tYPTfURGI294W9Ec_DBIvTB6xPrL6Q">
    <meta name="alexaVerifyID" content="asK4p0VHkg9NcUZahzYyIedksMc">
    <meta http-equiv="EXPIRES" content="10000">
    <meta name="resource-type" content="Document">
    <meta name="distribution" content="Global">
    <meta name="generator" content="VCCorp.vn">
    <meta name="copyright" content="Công ty cổ phần Truyền Thông Việt Nam - Vccorp">
    <meta name="author" content="VCCorp.vn">
    <meta name="robots" content="index,follow">
    <meta http-equiv="audience" content="General">
    <meta name="revisit-after" content="1 days">
    <meta name="RATING" content="GENERAL">
    <meta id="idOgUrl" property="og:url">
    <meta id="idOgIitle" property="og:title">
    <meta id="idOgImg" property="og:image">
    <meta id="idOgDesc" property="og:description" content="Tin tuc cap nhat lien tuc">
    <meta property="og:type" content="article">
    <meta property="og:site_name" content="Kenh14.vn">
    <meta property="fb:app_id" content="1506977592847257">
    <link rel="alternate" title="Kênh14 | Kênh thông tin dành cho giới trẻ" type="application/rss+xml" href="/home.rss">
    <meta content="http://schemas.microsoft.com/intellisense/ie5" name="vs_targetSchema">
    <link rel="shortcut icon" href="http://kenh143.vcmedia.vn/imagesgui/kenh14.vn.ico" type="image/x-icon">

    <style>
/*@font-face
{
font-family: VNF Bodoni Regular;
src: url(/styles/fonts/UTMBebas.ttf), url('/styles/fonts/UTMBebas.eot');
}*/
@font-face
{
font-family: 'VNF Bodoni Regular';
src: url('/styles/fonts/VNFBodoniRegular.eot'); /* IE9 Compat Modes */
src: url('/styles/fonts/VNFBodoniRegular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/styles/fonts/VNFBodoniRegular.ttf') format('truetype');
}
@font-face
{
font-family: 'UTM';
src: url('/styles/fonts/UTM_Centur.eot'); /* IE9 Compat Modes */
src: url('/styles/fonts/UTM_Centur.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('/styles/fonts/UTM_Centur.ttf') format('truetype');
}
</style>



    <link href="http://kenh143.vcmedia.vn/styles/minify/kenh14-1.85.3.min.css" type="text/css" rel="Stylesheet">
    <link id="cssColor" href="http://kenh143.vcmedia.vn/styles/24_12_2012/homev2.css" rel="stylesheet" type="text/css">




    <script type="text/javascript" async="" src="http://admicro1.vcmedia.vn/cpc/ssvzone_1032_1.js"></script>
    <script type="text/javascript" async="" src="http://stats.g.doubleclick.net/dc.js"></script>
    <script type="text/javascript" async="" src="http://log1.channelvn.net/scripts/log.js"></script>
    <script type="text/javascript" async="" src="//lg.logging.admicro.vn/_tracking1.gif?fl=14.0.r0&amp;je=1&amp;sr=1366768&amp;sc=24&amp;hn=kenh14.vn&amp;p=%2F&amp;r=&amp;g=0"></script>
    <script type="text/javascript" async="" src="//lg.logging.admicro.vn/_tracking1.gif?fl=14.0.r0&amp;je=1&amp;sr=1366768&amp;sc=24&amp;hn=kenh14.vn&amp;p=%2F&amp;r=&amp;g=0"></script>
    <script async="" src="http://b.scorecardresearch.com/beacon.js"></script>
    <script type="text/javascript" async="" src="//admicro1.vcmedia.vn/core/adm_tracking.js?id=1"></script>
    <script type="text/javascript" async="" src="http://vn-cdn.effectivemeasure.net/em.js"></script>
    <script type="text/javascript" async="" src="http://www.google-analytics.com/ga.js"></script>
    <script async="" src="http://b.scorecardresearch.com/beacon.js"></script>
    <script type="text/javascript">
        var allowscrolltop = true;
    </script>
    <!--[if IE 6]>
<link rel="stylesheet" type="text/css" href="http://kenh143.vcmedia.vn/styles/ie6_25_03_2011.css" />
<script type="text/javascript">
allowscrolltop = false;
</script>
<![endif]-->
    <!--[if IE 7]>
<link rel="stylesheet" type="text/css" href="/styles/ie7_25_03_2011.css" />
<script type="text/javascript">
allowscrolltop = false;
</script>
<![endif]-->
    <!--[if IE 8]>
<script type="text/javascript">
allowscrolltop = false;
</script>
<![endif]-->
    <!--[if IE 9]>
<script type="text/javascript">
allowscrolltop = false;
</script>
<![endif]-->
    <!-- for k14user -->

    <script type="text/javascript" src="http://kenh143.vcmedia.vn/scripts/minify/kenh14-1.91.min.js"></script>
    <script>
        var _comscore = _comscore || [];
        _comscore.push({ c1: "2", c2: "17793284" });
        (function () {
            var s = document.createElement("script"), el = document.getElementsByTagName("script")[0]; s.async = true;
            s.src = (document.location.protocol == "https:" ? "https://sb" : "http://b") + ".scorecardresearch.com/beacon.js";
            el.parentNode.insertBefore(s, el);
        })();
    </script>
    <noscript>
        &lt;img src="http://b.scorecardresearch.com/p?c1=2&amp;c2=17793284&amp;cv=2.0&amp;cj=1" /&gt;
    </noscript>
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(
        ['_setAccount', 'UA-34575478-4'],
        ['_trackPageview'],
        ['b._setAccount', 'UA-3070916-1'],
        ['b._trackPageview']
        );
        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    <script src="http://mingid.vcmedia.vn/js/mingid_core.js" type="text/javascript" language="javascript"></script>
    <link rel="stylesheet" href="data:text/css,@import%20url%28%27http%3A//mingid.vcmedia.vn/taskbar/css/taskbar_core.css%27%29%3B">



    <!-- X-Mas style -->

    <!-- New year 2014 -->

    <!-- Tet 2014 -->

    <!-- Toi yeu lop toi event -->
    <style>
        .logo {
            background: none;
            width: 200px;
            height: 100px;
        }

        .headerwrapper {
            background: url("http://kenh143.vcmedia.vn/Images/bgvn.jpg") repeat-x;
        }

        .logo a {
            background: url("http://kenh143.vcmedia.vn/Images/logo.png") no-repeat;
            width: 202px;
            height: 100px;
        }

        .starvn {
            position: absolute;
            left: 420px;
            top: 15px;
        }

        .guitinheader .guitinnhanh, .guitinheader .guibaivietnews {
            background: url("http://kenh143.vcmedia.vn/Images/gtn.png") no-repeat !important;
            color: #555 !important;
        }

            .guitinheader .guitinnhanh span, .guitinheader .guibaivietnews span {
                background: none !important;
            }

        .box-mobile-download a span {
            background-position: 0px -147px;
        }

        .focus-right {
            overflow: visible;
        }
    </style>
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="http://mingid.vcmedia.vn/taskbar/js/vid_taskbar_core.js" src="http://mingid.vcmedia.vn/taskbar/js/vid_taskbar_core.js"></script>
    <link rel="stylesheet" href="data:text/css,@import%20url%28%27http%3A//mingid.vcmedia.vn/comment/notification.css%27%29%3B">
    <script type="text/javascript" charset="utf-8" async="" data-requirecontext="_" data-requiremodule="http://mingid.vcmedia.vn/taskbar/js/util.js" src="http://mingid.vcmedia.vn/taskbar/js/util.js"></script>
    <script type="text/javascript" src="//dl.logging.admicro.vn/comscore?grp=kenh14.vn"></script>
    <script type="text/javascript" src="//lg.logging.admicro.vn/_cpm4k.js"></script>
    <script type="text/javascript" src="//lg.logging.admicro.vn/cpcf"></script>
    <script type="text/javascript" src="http://logging.vietid.net/tracking_active_user.php"></script>
    <script type="text/javascript" async="" src="http://www9.effectivemeasure.net/v4/em_js?flag=0&amp;v=&amp;vt=30b578326e2b90cbe1552279767d53e780afd5dc23-7564644353f2fb2d&amp;hl=1&amp;sv=0&amp;pv=&amp;pn=&amp;p=aHR0cDovL2tlbmgxNC52bi8%3D&amp;r=&amp;f=1&amp;ns=_em&amp;rnd=0.609736424870789&amp;u=&amp;sf=1&amp;tzos=-7&amp;"></script>
    <style type="text/css">
        #ads_zone49 {
            clear: both;
            text-align: center;
            padding-top: 10px;
            width: 980px;
            margin: 0 auto;
        }

        .adzone1 {
            clear: both;
            width: 100%;
        }

        #ads_zone49 .banner1 {
            float: left;
            width: 468px;
            border: 1px solid #ccc;
            padding: 1px;
        }

        #ads_zone49 .banner2 {
            float: right;
            width: 468px;
            border: 1px solid #ccc;
            padding: 1px;
        }
    </style>
    <style type="text/css">
        #ads_zone50 {
            max-height: 600px;
        }

        #ads_zone50_slot4 {
            border-top: 1px solid #ddd;
        }

        #ads_zone50_slot1 {
            border-bottom: 1px solid #ddd;
        }

        #ads_zone50_slot1, #ads_zone50_slot2 .banner1, #ads_zone50_slot2 .banner2, #ads_zone50_slot4 .banner1 {
            margin-bottom: 10px;
        }

        .homepage-box .last, .homepageboxlast {
            clear: both;
            float: none;
        }

        #ads_zone50_slot5 {
            margin-top: 8px;
        }
    </style>
    <script type="text/javascript" src="http://quizz.kenh14.vn/services/NewBoxQuizK14.ashx" id="YJscriptId1"></script>
    <script type="text/javascript" src="http://dl.logging.admicro.vn/dmtb?h=140090574220421312&amp;zid=1126&amp;loc=1"></script>
    <style type="text/css">
        #ssvzone_1126 a:link, #ssvzone_1126 a:visited {
            margin: 0;
        }

        #ssvzone_1126 {
            height: 385px;
            width: 300px;
            margin: 0 auto;
            text-align: left;
            overflow: hidden;
        }

            #ssvzone_1126 .ssvzone_1126_Header {
                height: 23px;
                overflow: hidden;
                text-align: left;
                background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/muachung/300_385/bg_sendmail.png) no-repeat right -75px;
            }

            #ssvzone_1126 .adm_hMid {
                float: left;
                width: 201px;
                text-align: left;
                background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/muachung/300_385/bg_sendmail.png) repeat-x 0 0;
                height: 25px;
                overflow: hidden;
            }

            #ssvzone_1126 .smallbiz_item_border {
                clear: both;
                background: #e5e5e5;
                height: 1px;
            }

            #ssvzone_1126 .admBrLeft {
                background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/muachung/300_385/bg_border.png) repeat-y 100% 0;
            }

            #ssvzone_1126 .admContent {
                background: #fff;
                margin: 0 3px;
            }

            #ssvzone_1126 .admC_item_zone {
                clear: both;
                background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/muachung/300_385/bg_border.png) repeat-y top left;
            }

            #ssvzone_1126 .items {
                height: 148px;
                overflow: hidden;
            }

                #ssvzone_1126 .items .titlemc {
                    clear: both;
                    width: 100%;
                    text-align: left;
                    font-weight: bold;
                    color: #333;
                }

                    #ssvzone_1126 .items .titlemc a:link, #ssvzone_1126 .items .titlemc a:visited {
                        text-decoration: none;
                        color: #333;
                        font: bold 11px/18px tahoma,arial;
                        height: 20px;
                        overflow: hidden;
                        display: block;
                        margin: 5px 9px 0;
                    }

            #ssvzone_1126 .imageBrief {
                margin-top: 5px;
                height: 90px;
                overflow: hidden;
                line-height: 15px;
                color: #666;
                font-size: 11px;
                font-family: tahoma,arial;
                padding: 0 9px;
            }

                #ssvzone_1126 .imageBrief img {
                    width: 90px;
                    height: 90px;
                    margin-right: 10px;
                    overflow: hidden;
                    float: left;
                    border: none;
                }

            #ssvzone_1126 .admDomain a:link, #ssvzone_1126 .admDomain a:visited {
                clear: both;
                color: #666;
                display: block;
                height: 17px;
                line-height: 17px;
                text-decoration: none;
                margin: 0 9px;
                font-weight: normal;
                font-size: 11px;
                font-family: tahoma,arial;
            }

            #ssvzone_1126 .admDomain a:hover {
                text-decoration: underline;
            }

            #ssvzone_1126 .imageBrief a:link, #ssvzone_1126 .imageBrief a:visited {
                font-size: 11px;
                color: #333;
                text-decoration: none;
                font-weight: normal;
            }

            #ssvzone_1126 .ssvzone_1126_Footer {
                background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/muachung/300_385/bg_sendmail.png) no-repeat 0 -150px;
            }

        .ssvzone_1126_Footer .adm_fRight {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/muachung/300_385/bg_sendmail.png) no-repeat 100% -162px;
        }

        .ssvzone_1126_Footer .adm_fMain {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/muachung/300_385/bg_sendmail.png) repeat-x 0 -156px;
            height: 5px;
            overflow: hidden;
            margin: 0 5px;
        }

        .ssvzone_1126_form {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/muachung/300_385/bg_sendmail.png) repeat-x 0 -216px;
            height: 52px;
            padding-left: 10px;
            padding-top: 9px;
        }

        .adm_zonelabel385 {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/muachung/300_385/iconemail.png) no-repeat 0 4px;
            padding: 5px 0 3px 25px;
            font: 11px tahoma,arial;
            color: #27749c;
        }

        .adm_zoneinput {
            clear: both;
            padding: 0 20px 0 26px;
            height: 23px;
            overflow: hidden;
        }

        #ssvzone_1126 .admEmail {
            float: left;
            border: none;
            _border: 0;
            height: 19px;
            margin-top: 1px;
            overflow: hidden;
            font: 11px/19px tahoma,arial;
            color: #666;
            padding-left: 10px;
            width: 160px;
        }

        #ssvzone_1126 .admSend {
            border: none;
            overflow: hidden;
            font: 11px tahoma,arial;
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/muachung/300_385/send.png) no-repeat center center;
            color: #666;
            padding-left: 10px;
            width: 33px;
            height: 23px;
            float: right;
        }

        #ssvzone_1126 .adm_hLogo {
            float: left;
            width: 94px;
            border: 0;
        }

        .admFormbg {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/muachung/300_385/bg_sendmail.png) repeat-x 0 -192px;
            height: 24px;
            width: 220px;
        }
    </style>
    <style type="text/css">
        #ads_zone972_slot1 {
            clear: both;
            margin: 0 auto 10px auto;
        }

        #ads_zone972_slot2 {
            clear: both;
            margin: 0 auto;
        }
    </style>
    <style type="text/css">
        #advZoneStickyTop, #advZoneStickyNoTop {
            clear: both;
            margin: 0 auto;
        }

        #adm_sticky_footer {
            clear: both;
        }

        .detail-focuswrapper {
            width: 313px;
        }
    </style>
    <script type="text/javascript" src="http://dl.logging.admicro.vn/dmtb?h=140090574220421312&amp;zid=1033&amp;loc=1"></script>
    <style type="text/css">
        #ssvzone_1033_bg_header_long {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/bg_header_cpc_long.png) no-repeat 0 0;
            width: 132px;
            height: 17px;
            display: none;
        }

        .ssvzone_1033_header_long_span {
            font-size: 11px!important;
            color: #888!important;
            font-family: arial!important;
            padding-left: 21px!important;
            line-height: 17px;
        }

        .ssvzone_1033_header_long_b {
            font-size: 11px!important;
            color: #888!important;
            font-family: arial!important;
            line-height: 17px;
        }

        .ssvzHeader_right {
            float: right;
            width: auto;
        }

        #ssvzone_1033_bg_header_short {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/bg_header_cpc_short.png) no-repeat 0 0;
            width: 35px;
            height: 17px;
            display: block;
        }

        #ssvzone_1033 {
            width: 978px;
            height: 182px;
            text-align: left;
            overflow: hidden;
            border: 1px solid #dedede;
            position: relative;
            background: fff;
        }

            #ssvzone_1033 * {
                text-decoration: none;
                font-family: tahoma,arial!important;
                _font-family: tahoma, arial;
                font-size: 11px;
                color: #333;
                text-transform: none!important;
                _text-transform: none;
                margin: 0;
                padding: 0;
                font-style: normal!important;
            }

            #ssvzone_1033 .ssvzContent {
                clear: both;
                overflow: hidden;
            }

                #ssvzone_1033 .ssvzContent .ssvzRight {
                }

                #ssvzone_1033 .ssvzContent .ssvzMid {
                    background: #FFF;
                }

            #ssvzone_1033 .ssvzHeader {
                height: 18px;
                line-height: 18px;
                position: absolute;
                top: 0;
                right: 0;
            }

            #ssvzone_1033 .ssvzBuy {
                border: 0;
                width: 140px;
                height: 21px;
                background: url(http://adi.vcmedia.vn/adt/cpc/ssvtop.png) no-repeat -3px -21px;
                float: right;
            }

            #ssvzone_1033 .ssvzclear {
                clear: both;
            }

            #ssvzone_1033 #ssvzone_1033_items {
                margin: 0;
                padding: 0;
                overflow: hidden;
            }

        #ssvzone_1033_items .adv_items {
            float: left;
            width: 223px;
            height: 162px;
            padding: 23px 10px 7px 10px;
            *margin: 5px 8px;
            overflow: hidden;
        }

            #ssvzone_1033_items .adv_items .ssvzimage {
                clear: both;
            }

                #ssvzone_1033_items .adv_items .ssvzimage img {
                    float: left;
                    border: 0;
                    width: 90px;
                    height: 90px;
                    margin-right: 5px;
                }

            #ssvzone_1033_items .adv_items .ssvzTitle {
                clear: both;
                text-align: left;
                height: 31px;
                *height: 31px;
                line-height: 15px;
                overflow: hidden;
            }

                #ssvzone_1033_items .adv_items .ssvzTitle a:link, #ssvzone_1033_items .adv_items .ssvzTitle a:visited {
                    color: #333;
                    font-size: 11px;
                    font-weight: 700!important;
                    _font-weight: 700;
                    font-family: tahoma, arial,verdana;
                    text-decoration: none;
                    text-align: center;
                    padding-top: 0;
                }

        #ssvzone_1033_items .itemmc {
            clear: both;
            float: left;
            margin-bottom: 3px!important;
            height: 17px;
            padding-top: 2px;
            overflow: hidden;
            line-height: 12px;
            text-align: left;
        }

            #ssvzone_1033_items .itemmc, #ssvzone_1033_items .itemmc a:visited, #ssvzone_1033_items .itemmc a:active, #ssvzone_1033_items .itemmc a:link {
                font-weigth: normal;
                margin-bottom: 2px;
                text-decoration: none;
                color: #999;
            }

        #ssvzone_1033_items .adv_items .price {
            text-align: left;
            padding-left: 5px;
            line-height: 16px;
            height: auto;
            overflow: hidden;
        }

            #ssvzone_1033_items .adv_items .price a:link, #ssvzone_1033_items .adv_items .price a:visited {
                text-decoration: none;
                font-family: Tahoma;
                font-size: 11px;
                font-weight: 400;
                color: #333;
            }

        #ssvzone_1033_items .ssvzBorder {
            float: left;
            background: #dedede;
            height: 182px;
            width: 1px;
        }
    </style>
    <script type="text/javascript" src="http://admicro1.vcmedia.vn/cpc/ssvzone_2361_1.js"></script>
    <script type="text/javascript" src="http://dl.logging.admicro.vn/dmtb?h=140090574220421312&amp;zid=2361&amp;loc=1"></script>
    <style type="text/css">
        #ssvzone_2361_bg_header_long {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/bg_header_cpc_long.png) no-repeat 0 0;
            width: 132px;
            height: 17px;
            display: none;
        }

        .ssvzone_2361_header_long_span {
            font-size: 11px!important;
            color: #888!important;
            font-family: arial!important;
            padding-left: 21px!important;
            line-height: 17px;
        }

        .ssvzone_2361_header_long_b {
            font-size: 11px!important;
            color: #888!important;
            font-family: arial!important;
            line-height: 17px;
        }

        #ssvzone_2361 .ssvzHeader {
            height: 18px;
            overflow: hidden;
        }

        .ssvzHeader_right {
            float: right;
            width: auto;
        }

        #ssvzone_2361_bg_header_short {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/bg_header_cpc_short.png) no-repeat 0 0;
            width: 35px;
            height: 17px;
            display: block;
        }

        #ssvzone_2361 {
            clear: both;
            width: 298px;
            height: 318px;
            text-align: left;
            overflow: hidden;
            margin: 0 auto;
            background: #fff;
            border: 1px solid #dedede;
        }

            #ssvzone_2361 * {
                text-decoration: none;
                font-family: tahoma,arial!important;
                _font-family: tahoma, arial;
                font-size: 11px;
                color: #333;
                text-transform: none!important;
                _text-transform: none;
                margin: 0;
                padding: 0;
            }

            #ssvzone_2361 .ssvzTop, #ssvzone_2361 .ssvzBottom {
                clear: both;
                height: 3px;
                overflow: hidden;
            }

            #ssvzone_2361 .ssvzTop {
                background: url(http://adi.vcmedia.vn/adt/cpc/ssvborder.png) no-repeat 0 0;
            }

                #ssvzone_2361 .ssvzTop .ssvzRight {
                    background: url(http://adi.vcmedia.vn/adt/cpc/ssvborder.png) no-repeat 100% -3px;
                }

                #ssvzone_2361 .ssvzTop .ssvzMid {
                    background: url(http://adi.vcmedia.vn/adt/cpc/ssvborder.png) repeat-x 0 -12px;
                    height: 3px;
                    margin: 0 3px;
                }

            #ssvzone_2361 .ssvzBottom {
                background: url(http://adi.vcmedia.vn/adt/cpc/ssvborder.png) no-repeat 0 -9px;
            }

                #ssvzone_2361 .ssvzBottom .ssvzRight {
                    background: url(http://adi.vcmedia.vn/adt/cpc/ssvborder.png) no-repeat 100% -6px;
                }

                #ssvzone_2361 .ssvzBottom .ssvzMid {
                    background: url(http://adi.vcmedia.vn/adt/cpc/ssvborder.png) repeat-x 0 -15px;
                    height: 3px;
                    margin: 0 3px;
                }

            #ssvzone_2361 .ssvzContent {
                clear: both;
                overflow: hidden;
            }

                #ssvzone_2361 .ssvzContent .ssvzMid {
                    background: #FFF;
                    height: 300px;
                }

            #ssvzone_2361 .ssvzclear {
                clear: both;
            }

            #ssvzone_2361 #ssvzone_2361_items {
                clear: both;
                margin: 0;
                padding: 0;
                height: 293px;
            }

        #ssvzone_2361_items .adv_items {
            clear: both;
            height: 150px;
            overflow: hidden;
        }

            #ssvzone_2361_items .adv_items .ssvzimage {
                clear: both;
                padding: 0 10px;
            }

                #ssvzone_2361_items .adv_items .ssvzimage img {
                    float: left;
                    border: 0;
                    width: 90px;
                    height: 90px;
                    margin-right: 5px;
                }

            #ssvzone_2361_items .adv_items .ssvzTitle {
                clear: both;
                text-align: left;
                overflow: hidden;
                height: auto;
                padding: 7px 10px 0;
                line-height: 14px;
            }

                #ssvzone_2361_items .adv_items .ssvzTitle a:link, #ssvzone_2361_items .adv_items .ssvzTitle a:visited {
                    color: #333;
                    font-size: 11px;
                    font-weight: 700!important;
                    _font-weight: 700;
                    font-family: tahoma, arial,verdana;
                    text-decoration: none;
                    text-align: center;
                    padding-top: 0;
                }

        #ssvzone_2361_items .itemmc {
            clear: both;
            float: left;
            padding-left: 10px;
            margin-bottom: 3px;
            height: 17px;
            padding-top: 2px;
            overflow: hidden;
            line-height: 12px;
            padding-right: 10px;
            text-align: left;
        }

            #ssvzone_2361_items .itemmc, #ssvzone_2361_items .itemmc a:visited, #ssvzone_2361_items .itemmc a:active, #ssvzone_2361_items .itemmc a:link {
                font-weight: normal;
                font-weigth: normal;
                margin-bottom: 5px;
                text-decoration: none;
                color: #999;
            }

        #ssvzone_2361_items .adv_items .price {
            text-align: left;
            padding-left: 5px;
            line-height: 16px;
            height: 95px;
            overflow: hidden;
        }

            #ssvzone_2361_items .adv_items .price a:link, #ssvzone_2361_items .adv_items .price a:visited {
                text-decoration: none;
                font-family: Tahoma;
                font-size: 11px;
                font-weight: 400;
                color: #333;
            }

        #ssvzone_2361_items .ssvzBorder {
            background: #dedede;
            height: 1px;
        }
    </style>
    <script type="text/javascript" src="http://dl.logging.admicro.vn/dmtb?h=140090574220421312&amp;zid=1032&amp;loc=1"></script>
    <style type="text/css">
        .ssvzone_1032_header_long_b {
            font-size: 11px!important;
            color: #888!important;
            font-family: arial!important;
        }

        .ssvzone_1032_header_long_span {
            font-size: 11px!important;
            color: #888!important;
            font-family: arial!important;
            padding-left: 21px!important;
        }

        .ssvzHeader_right {
            float: right;
            width: auto;
        }

        #ssvzone_1032bg_header_short {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/bg_header_cpc_short.png) no-repeat 0 0;
            width: 35px;
            height: 17px;
            display: block;
        }

        #ssvzone_1032bg_header_long {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/bg_header_cpc_long.png) no-repeat 0 0;
            width: 132px;
            height: 17px;
            display: none;
        }

        #ssvzone_1032 {
            font-style: normal!important;
            background: #fff;
            clear: both;
            width: 298px;
            height: 598px;
            text-align: left;
            overflow: hidden;
            margin: 0 auto;
            border: 1px solid #dedede;
        }

            #ssvzone_1032 * {
                text-decoration: none;
                font-family: tahoma,arial!important;
                _font-family: tahoma, arial;
                font-size: 11px;
                color: #333;
                text-transform: none!important;
                _text-transform: none;
                margin: 0;
                padding: 0;
            }

            #ssvzone_1032 .ssvzTop, #ssvzone_1032 .ssvzContent {
                clear: both;
                overflow: hidden;
            }

                #ssvzone_1032 .ssvzContent .ssvzRight {
                }

                #ssvzone_1032 .ssvzContent .ssvzMid {
                    background: #FFF;
                    height: 573px;
                    margin: 0px;
                }

            #ssvzone_1032 .ssvzHeader {
                height: 17px;
                line-height: 17px;
                overflow: hidden;
            }

            #ssvzone_1032 .ssvHeaderBr {
                background: url(http://adi.vcmedia.vn/adt/cpc/ssvtop.png) repeat-y 100% 0;
                padding-right: 3px;
            }

            #ssvzone_1032 .ssvzLogo {
                border: 0;
                width: 140px;
                height: 21px;
                line-height: 21px;
                float: left;
                background: url(http://adi.vcmedia.vn/adt/cpc/ssvtop.png) no-repeat -3px 0;
                margin: 0;
                padding: 0;
            }

            #ssvzone_1032 .ssvzBuy {
                border: 0;
                width: 140px;
                height: 21px;
                background: url(http://adi.vcmedia.vn/adt/cpc/ssvtop.png) no-repeat -3px -21px;
            }

            #ssvzone_1032 .ssvzclear {
                clear: both;
            }

            #ssvzone_1032 #ssvzone_1032_items {
                clear: both;
                margin: 0;
                padding: 0;
                height: 573px;
            }

        #ssvzone_1032_items .adv_items {
            clear: both;
            height: 144px;
            overflow: hidden;
        }

            #ssvzone_1032_items .adv_items .ssvzimage {
                clear: both;
                padding: 0 12px;
            }

                #ssvzone_1032_items .adv_items .ssvzimage img {
                    float: left;
                    border: 0;
                    width: 90px!important;
                    height: 90px!important;
                    margin-right: 5px;
                }

            #ssvzone_1032_items .adv_items .ssvzTitle {
                clear: both;
                text-align: left;
                overflow: hidden;
                height: auto;
                padding: 8px 12px 0;
                line-height: 14px;
                float: left;
            }

                #ssvzone_1032_items .adv_items .ssvzTitle a:link, #ssvzone_1032_items .adv_items .ssvzTitle a:visited {
                    color: #333;
                    font-size: 11px;
                    font-weight: 700!important;
                    _font-weight: 700;
                    font-family: tahoma, arial,verdana;
                    text-decoration: none;
                    text-align: center;
                    padding-top: 0;
                }

        #ssvzone_1032_items .itemmc {
            clear: both;
            padding-left: 12px;
            margin-bottom: 3px;
            height: 17px;
            padding-top: 2px;
            overflow: hidden;
            line-height: 12px;
            padding-right: 10px;
            text-align: left;
        }

            #ssvzone_1032_items .itemmc, #ssvzone_1032_items .itemmc a:visited, #ssvzone_1032_items .itemmc a:active, #ssvzone_1032_items .itemmc a:link {
                font-weight: normal;
                font-weigth: normal;
                margin-bottom: 2px;
                text-decoration: none;
                color: #666;
            }

        #ssvzone_1032_items .adv_items .price {
            text-align: left;
            padding-left: 5px;
            line-height: 16px;
            height: 77px;
            overflow: hidden;
        }

            #ssvzone_1032_items .adv_items .price a:link, #ssvzone_1032_items .adv_items .price a:visited {
                text-decoration: none;
                font-family: Tahoma;
                font-size: 11px;
                font-weight: 400;
                color: #333;
            }

        #ssvzone_1032_items .ssvzBorder {
            background: #dedede;
            height: 1px;
        }

        .adv_items_link {
            color: #999!important;
        }
    </style>
    <style type="text/css">
        .ssvzone_1032_header_long_b {
            font-size: 11px!important;
            color: #888!important;
            font-family: arial!important;
        }

        .ssvzone_1032_header_long_span {
            font-size: 11px!important;
            color: #888!important;
            font-family: arial!important;
            padding-left: 21px!important;
        }

        .ssvzHeader_right {
            float: right;
            width: auto;
        }

        #ssvzone_1032bg_header_short {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/bg_header_cpc_short.png) no-repeat 0 0;
            width: 35px;
            height: 17px;
            display: block;
        }

        #ssvzone_1032bg_header_long {
            background: url(http://adi.vcmedia.vn/adt/cpc/zoneimages/bg_header_cpc_long.png) no-repeat 0 0;
            width: 132px;
            height: 17px;
            display: none;
        }

        #ssvzone_1032 {
            font-style: normal!important;
            background: #fff;
            clear: both;
            width: 298px;
            height: 598px;
            text-align: left;
            overflow: hidden;
            margin: 0 auto;
            border: 1px solid #dedede;
        }

            #ssvzone_1032 * {
                text-decoration: none;
                font-family: tahoma,arial!important;
                _font-family: tahoma, arial;
                font-size: 11px;
                color: #333;
                text-transform: none!important;
                _text-transform: none;
                margin: 0;
                padding: 0;
            }

            #ssvzone_1032 .ssvzTop, #ssvzone_1032 .ssvzContent {
                clear: both;
                overflow: hidden;
            }

                #ssvzone_1032 .ssvzContent .ssvzRight {
                }

                #ssvzone_1032 .ssvzContent .ssvzMid {
                    background: #FFF;
                    height: 573px;
                    margin: 0px;
                }

            #ssvzone_1032 .ssvzHeader {
                height: 17px;
                line-height: 17px;
                overflow: hidden;
            }

            #ssvzone_1032 .ssvHeaderBr {
                background: url(http://adi.vcmedia.vn/adt/cpc/ssvtop.png) repeat-y 100% 0;
                padding-right: 3px;
            }

            #ssvzone_1032 .ssvzLogo {
                border: 0;
                width: 140px;
                height: 21px;
                line-height: 21px;
                float: left;
                background: url(http://adi.vcmedia.vn/adt/cpc/ssvtop.png) no-repeat -3px 0;
                margin: 0;
                padding: 0;
            }

            #ssvzone_1032 .ssvzBuy {
                border: 0;
                width: 140px;
                height: 21px;
                background: url(http://adi.vcmedia.vn/adt/cpc/ssvtop.png) no-repeat -3px -21px;
            }

            #ssvzone_1032 .ssvzclear {
                clear: both;
            }

            #ssvzone_1032 #ssvzone_1032_items {
                clear: both;
                margin: 0;
                padding: 0;
                height: 573px;
            }

        #ssvzone_1032_items .adv_items {
            clear: both;
            height: 144px;
            overflow: hidden;
        }

            #ssvzone_1032_items .adv_items .ssvzimage {
                clear: both;
                padding: 0 12px;
            }

                #ssvzone_1032_items .adv_items .ssvzimage img {
                    float: left;
                    border: 0;
                    width: 90px!important;
                    height: 90px!important;
                    margin-right: 5px;
                }

            #ssvzone_1032_items .adv_items .ssvzTitle {
                clear: both;
                text-align: left;
                overflow: hidden;
                height: auto;
                padding: 8px 12px 0;
                line-height: 14px;
                float: left;
            }

                #ssvzone_1032_items .adv_items .ssvzTitle a:link, #ssvzone_1032_items .adv_items .ssvzTitle a:visited {
                    color: #333;
                    font-size: 11px;
                    font-weight: 700!important;
                    _font-weight: 700;
                    font-family: tahoma, arial,verdana;
                    text-decoration: none;
                    text-align: center;
                    padding-top: 0;
                }

        #ssvzone_1032_items .itemmc {
            clear: both;
            padding-left: 12px;
            margin-bottom: 3px;
            height: 17px;
            padding-top: 2px;
            overflow: hidden;
            line-height: 12px;
            padding-right: 10px;
            text-align: left;
        }

            #ssvzone_1032_items .itemmc, #ssvzone_1032_items .itemmc a:visited, #ssvzone_1032_items .itemmc a:active, #ssvzone_1032_items .itemmc a:link {
                font-weight: normal;
                font-weigth: normal;
                margin-bottom: 2px;
                text-decoration: none;
                color: #666;
            }

        #ssvzone_1032_items .adv_items .price {
            text-align: left;
            padding-left: 5px;
            line-height: 16px;
            height: 77px;
            overflow: hidden;
        }

            #ssvzone_1032_items .adv_items .price a:link, #ssvzone_1032_items .adv_items .price a:visited {
                text-decoration: none;
                font-family: Tahoma;
                font-size: 11px;
                font-weight: 400;
                color: #333;
            }

        #ssvzone_1032_items .ssvzBorder {
            background: #dedede;
            height: 1px;
        }

        .adv_items_link {
            color: #999!important;
        }
    </style>
</head>
<body>
    <div>
        <select>
            <optgroup label=""></optgroup>
        </select>
    </div>
</body>
</html>
