.btn-yellow {
	background-color: $yellow;
	border: 0;
}

.bg-yellow {
	background-color: $yellow;
}
.bg-yellow2 {
	background-color: $yellow_act;
}

.bg-grey {
	background-color: $grey;
}

.bg-grey-act {
	background-color: $grey_act;
}

.bg-blue {
	background-color: $blue;
	color: $white;
}

.bg-blue-act {
	background-color: $blue_act;
	color: $white;
}