#UpdateProgress1 {
    width:100%;
    height:100%;
    position:absolute;
    top:0px;
    left:0px;
}
.area {
    background:#0094ff;
    width:100%;
    height:100%;
    position:absolute;
    opacity:0.3;
}
.form-loading {
    background:url(/Images/loading-tlr.gif) center center no-repeat;
    width:100%;
    height:100%;
    position:absolute;
}