@using V308CMS.Helpers
@using V308CMS.Helpers.Url
@using V308CMS.Data
@{ 
    var VisisterRepo = new VisisterRepository();
    VisisterRepo.UpdateView();
}
<div class="container">
	<div class="row">
        <div class="col-2 toggle-menu hidden-md-up">
            <button class="navbar-toggler btn-menu-canvas" data-toggle="offcanvas" data-target="#off-canvas-nav" style="margin-top:10px;" id="off-canvas-button">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
		<div class="col-8  col-md-3" >
			<a href="/"><img src="@ViewBag.ThemesPath/images/logo.png" class="logo img-fluid"></a>
		</div>
        <div class="col-2 hidden-md-up mobileuser" style="font-size: 25px; padding-top: 15px;">

            @if (AuthenticationHelper.IsAuthenticated && ViewBag.Account != null )
            {
                VisisterRepo.UpdateUid(ViewBag.Account.UserId);

                <a class="login" href="#"><i class="fa fa-user"></i></a>
            }
            else
            {
                <a class="login" href="/dang-nhap.html"><i class="fa fa-user"></i></a>
            }
            <a class="cartmobile" href="/cart/checkout"><i class="icon-basket"></i></a>
        </div>
        <div class="col-8 col-md-9 mt-1 ">
            <div class="row shortlink mb-3">
                    <div class="col-md-4 col-12 hotline">Hotline: @ViewBag.Hotline</div>
                    <div class="col-7 hidden-sm-down align-self-end text-right">
                        <a href="/cart/checkout"><i class="icon-basket"></i>Giỏ hàng của tôi</a>
                        @if (AuthenticationHelper.IsAuthenticated)
                        {
                            <a class="ml-2" href="#"><i class="fa fa-user"></i>  @AuthenticationHelper.AuthenticateName</a>
                            <a class="ml-2" href="@Url.AccountLogoutUrl()"><i class="fa fa-unlink"></i>  Đăng xuất</a>
                        }
                        else
                        {
                            <a class="ml-2" href="/dang-nhap.html"><i class="fa fa-user"></i>  Đăng nhập</a>
                        }

                    </div>
                </div>
                <div class="row pt-2 hidden-md-down">
                    <div class="col-9">
                        <div>
                            <form action="/tim-kiem.html" name="frm-srch" class="input-group search">
                                <span class="input-group-addon border-0">Danh Mục</span>
                                <input type="text" class="form-control border-0 " placeholder="" name="pKey" />
                                <input id="id-search" type="hidden" name="pVendor" value="2">
                                <button class="input-group-addon bg-yellow border-0" type="submit"><i class="icon-search"></i></button>
                            </form>

                        </div>
                    </div>
                    <div class="col-3">
                        <a href="/cart/checkout" class="input-group cart">
                            <span class="input-group-addon bg-yellow2 border-0"><i class="icon-basket text-white"></i></span>
                            <div class="form-control bg-yellow border-0" id="shopping-cart">
                                <span class="title">Giỏ Hàng</span>
                                <span class="money"><i class="value">0</i></span>
                            </div>
                        </a>
                    </div>
                </div>
        </div>
        <div class="col-12 hidden-md-up">
            <form action="/tim-kiem.html" name="frm-srch" class="input-group search">
                <input type="text" class="form-control border-0 " placeholder="" name="pKey" />
                <input id="id-search" type="hidden" name="pVendor" value="2">
                <button class="input-group-addon bg-yellow border-0" type="submit"><i class="icon-search"></i></button>
            </form>

        </div>
</div>
</div>
