@model V308CMS.Data.Models.Banner
@using V308CMS.Common
@if (Model != null)
{
    <div class="slides">
        <a class="item" href="@Model.Link">
            <img src="@ImageHelper.ToUrl(Model.ImageUrl)" style="width: 100%;">
            <div class="detail">
                <h4>@Model.Name</h4>
                
                <button class="btn btn-secondary btn-yellow float-right">Đăng ký</button>
            </div>
        </a>

    </div>
}

