<ul class="navbar-nav mr-auto">
    <li class="nav-item active">
        <a class="nav-link" href="/">Trang chủ <span class="sr-only">(current)</span></a>
    </li>
    @if (Model != null && Model.Count > 0)
    {
        foreach (V308CMS.Data.Models.MenuConfig menu in Model)
        {
            if (!menu.Name.ToLower().Equals("footer")) { 
                <li class="nav-item"><a class="nav-link" href="@menu.Link" target="@menu.Target">@menu.Name</a></li>
            }
        
        }
    }
</ul>
        
 