@using V308CMS.Data.Models
@model List<Banner>
    @if (Model != null)
    {
        <div class="typo-slider" style="overflow: hidden; position: relative;">
            <div class="fullwidthbanner-container">
                <div id="rev_slider" class="rev_slider loadding-image fullwidthabanner">
                    <ul>
                        @foreach (Banner img in Model)
                        {
                            <li class="rev_slider_0" data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="off" data-title="@img.Name">
                                <img src="@V308CMS.Common.ImageHelper.ToUrl(img.ImageUrl)" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" alt="" />
                            </li>
                        }

                        @*<li class="rev_slider_0" data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="off" data-title="01475814045391-0">

        <img src="/Content/Images/Upload/slideshow/6.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" alt="" />
        <div class="tp-caption sfb typo-subtitle" style6.jpgcolor: #ffffff" data-x="right" data-y="120" data-speed="500" data-start="1000" data-endspeed="500" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                SONY HEADPHONE
            </div>
            <div class="tp-caption sfb typo-title" style="color: #ffffff" data-x="right" data-y="160" data-speed="500" data-start="1000" data-endspeed="500" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                EXTRA BASS
            </div>
            <div class="tp-caption sfb typo-content" style="color: #ffffff" data-x="right" data-y="245" data-endspeed="500" data-speed="500" data-start="1400" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                Hôm nay - giảm giá 30%
            </div>
            <div class="tp-caption sfb typo-button button-readmore" data-x="right" data-y="320" data-endspeed="500" data-speed="500" data-start="1700" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                <a class="harman_btn4" href="javascript:void(0)">Mua hàng ngay</a>
            </div>
    </li>

    <li class="rev_slider_1" data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="off" data-title="01475814045391-1">

        <img src="/Content/Images/Upload/slideshow/7.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" alt="" />
        <div class="tp-caption sfb typo-subtitle" style="color: #ffffff" data-x="left" data-y="120" data-speed="500" data-start="1000" data-endspeed="500" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                Thời trang
            </div>
            <div class="tp-caption sfb typo-title" style="color: #ffffff" data-x="left" data-y="180" data-speed="500" data-start="1000" data-endspeed="500" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                Mẫu hàng luôn cập nhật
            </div>
            <div class="tp-caption sfb typo-content" style="color: #ffffff" data-x="left" data-y="240" data-endspeed="500" data-speed="500" data-start="1400" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                Hôm nay - giảm giá 20%
            </div>

            <div class="tp-caption sfb typo-button button-readmore" data-x="left" data-y="320" data-endspeed="500" data-speed="500" data-start="1700" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                <a class="harman_btn4" href="javascript:void(0)">Mua hàng ngay</a>
            </div


    </li>

    <li data-title="01475815101152" class="rev_slider_2" data-transition="random" data-slotamount="7" data-masterspeed="500" data-saveperformance="off">
        <img src="/Content/Images/Upload/slideshow/8.jpg" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" alt="" />
        <div class="tp-caption sfb typo-subtitle" style="color: #ffffff" data-x="center" data-y="120" data-speed="500" data-start="1000" data-endspeed="500" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                Design By Bigsale
            </div>

            <div class="tp-caption sfb typo-title" style="color: #ffffff" data-x="center" data-y="180" data-speed="500" data-start="1000" data-endspeed="500" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                FURNITURE SALE FOR ALL
            </div>
            <div class="tp-caption sfb typo-content" style="color: #ffffff" data-x="center" data-y="240" data-endspeed="500" data-speed="500" data-start="1400" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                Sale Up To 25% Off
            </div>
            <div class="tp-caption sfb typo-button button-readmore" data-x="center" data-y="320" data-endspeed="500" data-speed="500" data-start="1700" data-easing="Linear.easeNone" data-elementdelay="0.1" data-endelementdelay="0.1">
                <a class="harman_btn4" href="javascript:void(0)">Mua hàng ngay</a>
            </div>
    </li>*@
                    </ul>
                </div>
            </div>
        </div>
        <script>
        jQuery(function () {

            setTimeout(function () {
                jQuery("#rev_slider").removeClass("loadding-image");
            }, 3000);

            if (jQuery('#rev_slider').length > 0) {
                jQuery('#rev_slider').show().revolution({
                    dottedOverlay: 'none',
                    delay: 8000 * 10000,
                    startwidth: 1140,
                    startheight: 400,
                    navigationType: "both",
                    navigationArrows: "solo",
                    //navigationStyle: 'preview1',
                    touchenabled: "on",
                    onHoverStop: "on",

                    hideSliderAtLimit: 0,
                    hideCaptionAtLimit: 0,
                    hideAllCaptionAtLilmit: 0,
                    startWithSlide: 0
                });
            }

        });
        </script>
    }
    
