@using V308CMS.Admin.Helpers.Url
@model V308CMS.Admin.Models.UserModels
@{
    ViewBag.Title = "Cập nhật thông tin khác hàng";
    Layout = "~/Views/Shared/_LayoutV2.cshtml";
}
<div class="panel panel-primary">
    <div class="panel-body">
        <form method="post" role="form" action="@Url.UserEditUrl()">
            @Html.Partial("_UserForm", Model)
        </form>
    </div>

</div>