@using V308CMS.Helpers.Url
@model V308CMS.Data.Models.Banner
@if (Model != null)
{

    <header class="page-header">
        <div class="images">
            <a title="@Model.Name" href="@(string.IsNullOrWhiteSpace(Model.Link)?"javascript:void(0)" : Model.Link)">
                <img src="@Model.ImageUrl.ToUrl(848, 219)" alt="@Model.Name" />
            </a>
           
        </div>

    </header>
}
