@{
    Layout = null;
}
<div class="box-2">
    <div class="box-content">
        <div class="box-item">
            @*@Html.Raw(TempData["FooterCompanyContact"].ToString())*@
        </div>
        <div class="box-item">
            <div style="padding-left: 72px;">
                <ul id="promotionapp-ul">
                    <li>
                        <a href="/" id="appstoreicon">
                            <img src="/Content/Images/appstore.png" />
                        </a>
                    </li>
                    <li>
                        <a href="/">
                            <img src="/Content/Images/gplay.png" />
                        </a>
                    </li>
                </ul>
                <div style="clear: both; text-align: center; font-size: 18px; padding: 5px 0;">DOWNLOAD ỨNG DỤNG ĐỂ ĐI CHỢ NGAY</div>
            </div>

        </div>
    </div>
</div>
<style type="text/css">
    #promotionapp {
        height: auto;
    }

    .box-2 .box-item {
        float: left;
        width: 50%;
    }

    .box-2 p {
        font-size: 15px;
        text-align: left;
        line-height: 23px;
    }

    .box-2 {
        width: 1024px;
        margin: auto;
        padding: 10px 0;
    }
</style>
