
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<meta name="description" content="mobile check" />
<meta name="title" content="@ViewBag.Title">
<meta name="author" content="" />
<title>Cms -  @ViewBag.Title</title>
@Html.Partial("_Stylesheet")
<script src="/Content/assets/js/html5shiv.js"></script>
<script src="/Content/assets/js/respond.min.js"></script>
