@{
    Layout = null;
}
<div class="yt-main">
    <div class="yt-main-in1 container">
        <div class="yt-main-in2 row-fluid">
            <div class="v308logo"><a href="/" title="SJ Teen"><img style="height: 70px;" alt="SJ Teen" src="/Content/images/logo.png"></a></div>
            <div class="v308logobanner"><a href="http://sinhviens.net/" target="_blank" rel="dofollow" style=""><img src="/Content/images/4-bannerHeader.jpg" style="width:100%;height:100%;" alt="bannerHeader"></a></div>
        </div>
    </div>
</div>
