@{
    Layout = null;
}

<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block"></div>
<div class="block">
    <div class="slide_right">
        <a class="bnr- cbo-img" title="Big Sale" href="#">
            <img class="lazy-loaded" data-src="//img.disieuthi.vn/quangcao/banner-1.png" alt="Khuyến mãi" src="//img.disieuthi.vn/quangcao/banner-1.png">
        </a>
        <br>
        <a class="bnr- cbo-img" title="Đồ tươi sống" href="#">
            <img class="lazy-loaded" data-src="//img.disieuthi.vn/quangcao/banner-2.png" alt="Đồ tươi sống" src="//img.disieuthi.vn/quangcao/banner-2.png">
        </a>
    </div>
</div>
