@{
    Layout = null;
}

 <div id="search_login" class="span12 ">
                            <div class="module  inline me_search clearfix">
                                <div class="modcontent clearfix">
                                    <form id="finder-searchform" action="/" method="get" class="form-search">
                                        <div class="finderinline me_search">
                                            <button class="btn btn-primary hasTooltip inline me_search finderinline me_search" type="submit" data-original-title="Go"><i class="icon-search icon-white"></i></button>
                                            <input type="text" name="q" id="mod-finder-searchword" class="search-query input-medium" placeholder="Tìm kiếm" size="25" value="">
                                            <input type="hidden" name="Itemid" value="730">
                                        </div>
                                    </form>
                                </div>
                            </div>

                        </div>