@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Đăng nhập - Admin</title>
    <meta name="description" content="User login page" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/Content/Admin/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/Admin/assets/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/Content/Admin/assets/css/font-awesome.min.css" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" />
    <link rel="stylesheet" href="/Content/Admin/assets/css/ace.min.css" />
    <link rel="stylesheet" href="/Content/Admin/assets/css/ace-responsive.min.css" />
    <link rel="stylesheet" href="/Content/Admin/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="/Content/Admin/Styles/login.css" />
    <script src="/Content/Admin/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/Content/Admin/Scripts/v308login.js"></script>
    <script src="/Content/Admin/assets/js/bootstrap.min.js"></script>
    <script src="/Content/Admin/assets/js/ace-elements.min.js"></script>
    <script src="/Content/Admin/assets/js/ace.min.js"></script>
    <script src="/Content/Admin/Scripts/SoJSLib.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#txtPassword').keydown(function (evt) {
                if (evt.keyCode == 13) {
                    DangNhap();
                }
            });
        });

    </script>
    <script type="text/javascript">
        function show_box(id) {
            $('.widget-box.visible').removeClass('visible');
            $('#' + id).addClass('visible');
        }
    </script>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body class="login-layout">
    <div class="main-container container-fluid">
        <div class="main-content">
            <div class="row-fluid">
                <div class="span12">
                    <div class="login-container">
                        <div class="space-6">
                        </div>
                        <div class="row-fluid">
                            <div class="position-relative">
                                <div id="login-box" class="login-box visible widget-box no-border">
                                    <div class="widget-body">
                                        <div class="row-fluid" style="background-color: #000;">
                                            <div class="center">
                                                <h1>
                                                    <span class="red">CMS</span> <span class="white">SYSTEM</span>
                                                </h1>
                                                <h4 class="blue">CONTROL PANEL</h4>
                                            </div>
                                        </div>
                                        <div class="widget-main">
                                            <h4 class="header blue lighter bigger">
                                                <i class="icon-coffee green"></i>Đăng nhập
                                            </h4>
                                            <div style="color: red;" id="ThongBao">
                                            </div>
                                            <fieldset>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input name="txtUserName" type="text" id="txtUserName" class="span12" placeholder="Username">
                                                        <i class="icon-user"></i></span>
                                                </label>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input name="txtPassword" type="password" id="txtPassword" class="span12" placeholder="Mật khẩu">
                                                        <i class="icon-lock"></i></span>
                                                </label>
                                                <div class="space">
                                                </div>
                                                <div class="clearfix">
                                                    <label class="inline">
                                                        <input id="chkremember" type="checkbox" name="chkremember">
                                                        <span class="lbl" style="margin-left: 3px;">Nhớ tôi</span>
                                                    </label>
                                                    <a id="lbtnLogin" class="width-35 pull-right btn btn-small btn-primary" href="javascript:DangNhap();">
                                                        <i class="icon-key"></i>Đăng nhập </a>
                                                </div>
                                                <div class="space-4">
                                                </div>
                                            </fieldset>
                                        </div>
                                        <!--/widget-main-->
                                        <div class="toolbar clearfix">
                                            <div>
                                                <a href="javascript:void(0);" onclick="show_box('forgot-box'); return false;" class="forgot-password-link">
                                                    <i class="icon-arrow-left"></i>Quên mật khẩu </a>
                                            </div>
                                        </div>
                                    </div>
                                    <!--/widget-body-->
                                </div>
                                <!--/login-box-->
                                <div id="forgot-box" class="forgot-box widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header red lighter bigger">
                                                <i class="icon-key"></i>Nhận lại mật khẩu
                                            </h4>
                                            <div class="space-6">
                                            </div>
                                            <p>
                                                Bạn hãy nhập email để nhận lại mật khẩu
                                            </p>
                                            <fieldset>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input name="txtEmail" type="text" id="txtEmail" class="span12" placeholder="Email">
                                                        <i class="icon-envelope"></i></span>
                                                </label>
                                                <div class="clearfix">
                                                    <a id="lbtnGetPass" class="pull-right btn btn-small btn-danger" href="javascript:__doPostBack('lbtnGetPass','')">
                                                        <i class="icon-lightbulb"></i>Gửi cho tôi ! </a>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <!--/widget-main-->
                                        <div class="toolbar center">
                                            <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">Quay lại trang đăng nhập <i class="icon-arrow-right"></i></a>
                                        </div>
                                    </div>
                                    <!--/widget-body-->
                                </div>
                                <!--/forgot-box-->
                                <div id="signup-box" class="signup-box widget-box no-border">
                                    <div class="widget-body">
                                        <div class="widget-main">
                                            <h4 class="header green lighter bigger">
                                                <i class="icon-group blue"></i>New User Registration
                                            </h4>
                                            <div class="space-6">
                                            </div>
                                            <p>
                                                Enter your details to begin:
                                            </p>
                                            <fieldset>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="email" class="span12" placeholder="Email">
                                                        <i class="icon-envelope"></i></span>
                                                </label>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="text" class="span12" placeholder="Username">
                                                        <i class="icon-user"></i></span>
                                                </label>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="span12" placeholder="Password">
                                                        <i class="icon-lock"></i></span>
                                                </label>
                                                <label>
                                                    <span class="block input-icon input-icon-right">
                                                        <input type="password" class="span12" placeholder="Repeat password">
                                                        <i class="icon-retweet"></i></span>
                                                </label>
                                                <label>
                                                    <input type="checkbox">
                                                    <span class="lbl">I accept the <a href="#">User Agreement</a> </span>
                                                </label>
                                                <div class="space-24">
                                                </div>
                                                <div class="clearfix">
                                                    <button type="reset" class="width-30 pull-left btn btn-small">
                                                        <i class="icon-refresh"></i>Reset
                                                    </button>
                                                    <button onclick="return false;" class="width-65 pull-right btn btn-small btn-success">
                                                        Register <i class="icon-arrow-right icon-on-right"></i>
                                                    </button>
                                                </div>
                                            </fieldset>
                                        </div>
                                        <div class="toolbar center">
                                            <a href="#" onclick="show_box('login-box'); return false;" class="back-to-login-link">
                                                <i class="icon-arrow-left"></i>Back to login </a>
                                        </div>
                                    </div>
                                    <!--/widget-body-->
                                </div>
                                <!--/signup-box-->
                            </div>
                            <!--/position-relative-->
                        </div>
                    </div>
                </div>
                <!--/.span-->
            </div>
            <!--/.row-fluid-->
        </div>
    </div>
    <div id="wait">
        <div class="innerWait">
        </div>
    </div>
</body>
</html>
